<li id="comment{{ comment.id }}" class="comment-item" data-id="{{ comment.id }}" data-vote="{{ comment.rating.vote }}">
    <div class="post__author author vcard inline-items">
        <a href="/users/{{ comment.author.name }}"><img src="{{ comment.author.avatar.x42 }}" alt="{{ comment.author.showName }}"></a>

        <div class="author-date">
            <a class="h6 post__author-name fn" href="/users/{{ comment.author.name }}">{{ comment.author.showName }}</a>
            <div class="post__date">
                <time class="published" datetime="{{ comment.createdAt }}"></time>
            </div>
        </div>

        {% if comment.isMine %}
            <div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                <ul class="more-dropdown">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#edit-comment" 
                            data-content="{{ comment.editContent }}">Редактировать</a>
                    </li>
                    <li>
                        <a href="#" onclick="return deleteComment({{ comment.id }})">Удалить</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>

    <div class="comment-content">{{ comment.content|safe }}</div>

    <div class="comment-additional-info inline-items">
        {% if comment.rating.vote == "ban" %}<div{% else %}<a href="#" onclick="return voteComment({{ comment.id }}, true);"{% endif %} 
            class="post-add-icon inline-items comment-up"
            title="{{ comment.rating.upCount|default:0 }} за, {{ comment.rating.downCount|default:0 }} против. 
Рейтинг: {{ comment.rating.rating|floatformat:0|default:0 }}">
        <i class="{% if comment.rating.vote == "pos" || comment.rating.vote == "ban" %}fas{% else %}far{% endif %} fa-thumbs-up fa-2x"></i>
        {% if comment.rating.vote == "ban" %}</div>{% else %}</a>{% endif %}

        <span class="comment-rating" title="{{ comment.rating.upCount|default:0 }} за, {{ comment.rating.downCount|default:0 }} против. 
Рейтинг: {{ comment.rating.rating|floatformat:0|default:0 }}">{{ comment.rating.upCount|default:0 - comment.rating.downCount|default:0 }}</span>

        {% if comment.rating.vote == "ban" %}<div{% else %}<a href="#" onclick="return voteComment({{ comment.id }}, false);"{% endif %} 
            class="post-add-icon inline-items comment-down"
            title="{{ comment.rating.upCount|default:0 }} за, {{ comment.rating.downCount|default:0 }} против. 
Рейтинг: {{ comment.rating.rating|floatformat:0|default:0 }}">
        <i class="{% if comment.rating.vote == "neg" || comment.rating.vote == "ban" %}fas{% else %}far{% endif %} fa-thumbs-down fa-2x"></i>
        {% if comment.rating.vote == "ban" %}</div>{% else %}</a>{% endif %}

        <a href="#" class="reply" onclick="return replyComment('{{ comment.author.showName }}');">Ответить</a>
    </div>

</li>
