{% if data && beforeHref %}
    <a href="{{ beforeHref }}" class="more-comments">
        {% if commentCount > 0 and commentCount <= 30 %}
            {% with cnt = commentCount - 5 %}
                Показать {{ cnt }} комментари{{ cnt|quantity:"й,я,ев" }}
            {% endwith %}
        {% else %}
            Показать больше комментариев
        {% endif %}
    </a>
{% endif %}
{% for comment in data %}
    {% include "comment.html" %}
{% endfor %}
{% if data && afterHref %}
    <a href="{{ afterHref }}" class="update-comments"></a>
{% endif %}
