<li id="comment{{ comment.id }}" class="comment-item" 
        data-id="{{ comment.id }}" data-vote="{{ comment.rating.vote }}" 
        {% if comment.rights.edit %} data-content="{{ comment.editContent }}" {% endif %}>
    <div class="post__author author vcard inline-items">
        <a href="/users/{{ comment.author.name }}"><img src="{{ comment.author.avatar.x42 }}" alt="{{ comment.author.showName }}"></a>

        <div class="author-date">
            <a class="h6 post__author-name fn" href="/users/{{ comment.author.name }}">{{ comment.author.showName }}</a>
            <div class="post__date">
                <time class="published" datetime="{{ comment.createdAt }}"></time>
            </div>
        </div>

        {% if comment.rights.edit || comment.rights.delete || comment.rights.complain %}
            <div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                <ul class="more-dropdown">
                    {% if comment.rights.edit %}
                        <li>
                            <a href="#" onclick="return editComment({{ comment.id }})">Редактировать</a>
                        </li>
                    {% endif %}
                    {% if comment.rights.delete %}
                        <li>
                            <a href="#" onclick="return deleteComment({{ comment.id }})">Удалить</a>
                        </li>
                    {% endif %}
                    {% if comment.rights.complain %}
                        <li>
                            <a href="#" onclick="return complainComment({{ comment.id }})">Пожаловаться</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>

    <div class="comment-content">{{ comment.content|media:"embed" }}</div>

    <div class="comment-additional-info inline-items">
        {% if comment.rights.vote  %}<a href="#" onclick="return voteComment({{ comment.id }}, true);"{% else %}<div{% endif %} 
            class="post-add-icon inline-items comment-up"
            title="{{ comment.rating.upCount|default:0 }} за, {{ comment.rating.downCount|default:0 }} против. 
Рейтинг: {{ comment.rating.rating|floatformat:0|default:0 }}">
        <i class="{% if comment.rating.vote <= 0 && comment.rights.vote %}far{% else %}fas{% endif %} fa-thumbs-up fa-2x"></i>
        {% if comment.rights.vote %}</a>{% else %}</div>{% endif %}

        <span class="comment-rating" title="{{ comment.rating.upCount|default:0 }} за, {{ comment.rating.downCount|default:0 }} против. 
Рейтинг: {{ comment.rating.rating|floatformat:0|default:0 }}">{{ comment.rating.upCount|default:0 - comment.rating.downCount|default:0 }}</span>

        {% if comment.rights.vote %}<a href="#" onclick="return voteComment({{ comment.id }}, false);"{% else %}<div{% endif %} 
            class="post-add-icon inline-items comment-down"
            title="{{ comment.rating.upCount|default:0 }} за, {{ comment.rating.downCount|default:0 }} против. 
Рейтинг: {{ comment.rating.rating|floatformat:0|default:0 }}">
        <i class="{% if comment.rating.vote >= 0 && comment.rights.vote %}far{% else %}fas{% endif %} fa-thumbs-down fa-2x"></i>
        {% if comment.rights.vote %}</a>{% else %}</div>{% endif %}

        <a href="#" class="reply" onclick="return replyComment('{{ comment.author.showName|escapejs }}', this);">Ответить</a>
    </div>

</li>
