<div class="modal fade" id="post-popup" tabindex="-1" role="dialog" aria-labelledby="post-popup" aria-hidden="true">
    <div class="modal-dialog window-popup blog-post-popup" role="document">
        <div class="modal-content">

            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon">
                    <use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                </svg>
            </a>

            <div class="modal-body"></div>
        </div>
    </div>
</div>
