{% extends "../base_auth.html" %}
{% block title %}Запись{% endblock %}
{% block scripts %}
    <script src="//youtube.com/iframe_api"></script>
    <script src="/assets/feed.js?d=20190731"></script>
{% endblock %}
{% block body %}
<div class="container">
	<div class="row mt50">
		<div class="col col-xl-8 m-auto col-lg-10 col-md-12 col-sm-12 col-12">
            <div class="ui-block entry"
                    data-id="{{ entry.id }}" data-vote="{{ entry.rating.vote }}" 
                    data-watching="{{ entry.isWatching }}" data-favorited="{{ entry.isFavorited }}">
                {% include "entry_full.html" with cutEntry = false %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
