<article class="hentry post {% if cutEntry %}cut-post{% endif %}">
    <div class="post__author author vcard inline-items">
        
        <a href="/users/{{ entry.author.name }}"><img src="{{ entry.author.avatar.x42 }}" alt="{{ entry.author.showName }}"></a>

        <div class="author-date">
            <a class="h6 post__author-name fn" href="/users/{{ entry.author.name }}">{{ entry.author.showName }}</a> 
            <div class="post__date">
                <a href="/entries/{{ entry.id }}"{% if cutEntry %} class="open-post" data-entry="{{ entry.id }}"{% endif %}>
                    <time class="published" datetime="{{ entry.createdAt }}"></time>
                    {% if entry.cutContent %}
                        <span class="dot-divider"></span>
                        {% with wc=entry.wordCount %}
                            <span>{{ wc }}&nbsp;слов{{ wc|quantity:"о,а," }}</span>
                        {% endwith %}
                    {% endif %}
                    {% if !cutEntry && entry.inLive %}
                        <span class="post-live" title="Запись отправлена в Прямой эфир" data-toggle="tooltip" data-placement="top" >
                            <i class="fas fa-bullhorn"></i>
                        </span>
                    {% endif %}
                </a>
            </div>
        </div>

        <div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="#olymp-three-dots-icon"></use></svg>
            <ul class="more-dropdown">
                <li>
                    <a href="#" class="favorite-post">
                        {% if entry.isFavorited %}
                            Удалить из&nbsp;избранного
                        {% else %}
                            Добавить в&nbsp;избранное
                        {% endif%}
                    </a>
                </li>
                <li>
                    <a href="#" class="watch-post">
                        {% if entry.isWatching %}
                            Отписаться от&nbsp;комментариев
                        {% else %}
                            Подписаться на&nbsp;комментарии
                        {% endif%}
                    </a>
                </li>
                {% if entry.rights.edit %}
                    <li>
                        <a href="/entries/{{ entry.id }}/edit">Редактировать</a>
                    </li>
                {% endif %}
                {% if entry.rights.delete %}
                    <li>
                        <a href="#" class="delete-post">Удалить</a>
                    </li>
                {% endif %}
                {% if entry.rights.complain %}
                    <li>
                        <a href="#" class="complain-post">Пожаловаться</a>
                    </li>
                {% endif %}
            </ul>
        </div>

    </div>

    {% if entry.title %}
        {% if cutEntry %}
            <a href="/entries/{{ entry.id }}" class="h2 post-title open-post wrapped-text" data-entry="{{ entry.id }}"
               {% else %}
            <span class="h2 post-title wrapped-text"
        {% endif %}
            {% if cutEntry && entry.cutTitle %}title="{{ entry.title|safe }}"{% endif %}>
                {% if cutEntry && entry.cutTitle %}{{ entry.cutTitle|safe }}{% else %}{{ entry.title|safe }}{% endif %} 
        {% if cutEntry %}</a>{% else %}</span>{% endif %}
    {% endif %}

    <div class="post-content wrapped-text">
        {% if cutEntry && entry.cutContent %}
            {{ entry.cutContent|media }}
        {% elif cutEntry %}
            {{ entry.content|media }}
        {% else %}
            {{ entry.content|media:"embed" }}
        {% endif %}
    </div>
    
    {% if entry.images %}
        {% if cutEntry %}
            {% with image = entry.images|first %}
                <div class="post-thumb">
                    {% if image.isAnimated %}
                        <img class="gif-play-image" data-gif="{{ image.small.url }}"  data-scope="attached" 
                            src="{{ image.small.preview }}"
                            width="{{ image.small.width }}" height="{{ image.small.height }}">
                    {% else %}
                        <img src="{{ image.small.url }}"
                            srcset="{{ image.small.url }}, {{ image.medium.url }} 2x, {{ image.large.url }} 3x"
                            width="{{ image.small.width }}" height="{{ image.small.height }}">
                    {% endif %}
                </div>
            {% endwith %}
        {% else %}
            {% for image in entry.images %}
                {% if image.isAnimated %}
                    <div class="post-thumb">
                        <img class="gif-play-image" data-gif="{{ image.medium.url }}" data-scope="attached" 
                            src="{{ image.medium.preview }}"
                            width="{{ image.medium.width }}" height="{{ image.medium.height }}">
                    </div>
                {% endif %}
            {% endfor %}
            <div class="post-block-photo js-zoom-gallery">
                {% for image in entry.images %}
                    {% if !image.isAnimated %}
                        <a href="{{ image.large.url }}" target="__blank" class="post-thumb">
                            <img src="{{ image.medium.url }}"
                                srcset="{{ image.medium.url }}, {{ image.large.url }} 1.5x"
                                width="{{ image.medium.width }}" height="{{ image.medium.height }}">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}

    {% if cutEntry && (entry.cutContent || entry.images|length > 1) %}
        <a href="/entries/{{ entry.id }}" data-entry="{{ entry.id }}"
            class="btn btn-md-2 btn-border-think c-grey btn-transparent custom-color open-post">Дальше</a>
    {% endif %}

    {% if !cutEntry && entry.tags %}
        <div class="post-tags wrapped-text">
            {% for tag in entry.tags %}
                <a href="/users/{{ entry.author.name }}?tag={{ tag }}">{{ tag }}</a>
                {% if !forloop.Last %}<span class="dot-divider"></span>{% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="post-additional-info inline-items">

        {% if entry.privacy == "me" %}
            <div class="post-add-icon inline-items" title="Эта запись видна только тебе" data-toggle="tooltip" data-placement="top">
                <i class="far fa-eye-slash fa-2x"></i>
            </div>
        {% elif entry.rating.isVotable %}

            {% if entry.rights.vote %}<a href="#"{% else %}<div{% endif %} 
                    class="post-add-icon inline-items post-up"
                    title="{{ entry.rating.upCount|default:0 }} за, {{ entry.rating.downCount|default:0 }} против. 
Рейтинг: {{ entry.rating.rating|floatformat:0|default:0 }}">
                <i class="{% if entry.rating.vote <= 0 && entry.rights.vote %}far{% else %}fas{% endif %} fa-thumbs-up fa-2x"></i>
            {% if entry.rights.vote %}</a>{% else %}</div>{% endif %}

            <span class="post-rating" title="{{ entry.rating.upCount|default:0 }} за, {{ entry.rating.downCount|default:0 }} против. 
Рейтинг: {{ entry.rating.rating|floatformat:0|default:0 }}">{{ entry.rating.upCount|default:0 - entry.rating.downCount|default:0 }}</span>

            {% if entry.rights.vote %}<a href="#"{% else %}<div{% endif %} 
                    class="post-add-icon inline-items post-down"
                    title="{{ entry.rating.upCount|default:0 }} за, {{ entry.rating.downCount|default:0 }} против. 
Рейтинг: {{ entry.rating.rating|floatformat:0|default:0 }}">
                <i class="{% if entry.rating.vote >= 0 && entry.rights.vote %}far{% else %}fas{% endif %} fa-thumbs-down fa-2x"></i>
            {% if entry.rights.vote %}</a>{% else %}</div>{% endif %}

        {% endif %}

        {% block commentButton %}
            <a href="/entries/{{ entry.id }}#comments" class="post-add-icon inline-items comment-button"
                    data-entry="{{ entry.id }}">
                <svg class="olymp-speech-balloon-icon"><use xlink:href="#olymp-speech-balloon-icon"></use></svg>
                <span class="comment-count">{{ entry.commentCount|default:0 }}</span>
            </a>
        {% endblock commentButton %}

    </div>
</article>
{% block comments %}{% endblock comments %}
