{% extends "../base_auth.html" %}
{% block meta %}
    <link rel="index" href="{{ __proto }}://{{ __domain }}/users/{{ entry.author.name }}/entries">
    <link rel="canonical" href="{{ __proto }}://{{ __domain }}/entries/{{ entry.id }}">
    <meta property="og:url" content="{{ __proto }}://{{ __domain }}/entries/{{ entry.id }}">
    <meta property="og:description" content="{% block description %}{{ entry.content|cut_text:200 }}{% endblock %}">
    <meta property="og:title" content="{% if entry.cutTitle %}{{ entry.cutTitle|safe }}{% elif entry.title %}{{ entry.title|safe }}{% else %}Запись{% endif %}">
    <meta property="og:type" content="article">

    {% for image in entry.images %}
        <meta property="og:image" content="{{ image.large.url }}">
        <meta property="og:image:width" content="{{ image.large.width }}">
        <meta property="og:image:height" content="{{ image.large.height }}">
    {% endfor %}
{% endblock %}
{% block pagetitle %}
    {% if entry.cutTitle %}
        {{ entry.cutTitle|safe }}
    {% elif entry.title %}
        {{ entry.title|safe }}
    {% else %}
        Запись
    {% endif %}
    — Mindwell
{% endblock %}
{% block title %}Запись{% endblock %}
{% block scripts %}
    <script src="/assets/feed.js?d=20211031"></script>
{% endblock %}
{% block body %}
<div class="container">
	<div class="row mt50">
		<div class="col col-xl-8 m-auto col-lg-10 col-md-12 col-sm-12 col-12">
            <div class="ui-block entry"
                    data-id="{{ entry.id }}" data-vote="{{ entry.rating.vote }}" data-can-vote="{{ entry.rights.vote }}"
                    data-watching="{{ entry.isWatching }}" data-favorited="{{ entry.isFavorited }}">
                {% include "entry_full.html" with cutEntry = false %}
            </div>
        </div>
    </div>
</div>

{% include "complain_popup.html" %}
{% endblock %}
