{% extends "../base_auth.html" %}
{% block scripts %}
    <script src="/assets/feed.js?d=20190217"></script>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <ul class="cat-list-bg-style align-center sorting-menu">
                {% block submenu %}{% endblock %}
            </ul>
        </div>
    </div>
</div>
    
<div class="container">
	<div id="feed" class="row sorting-container" data-layout="masonry">
        {% if entries %}
            {% include "feed_page.html" %}
        {% else %}
            <h6 class="title hcenter">Нет записей</h6>
        {% endif %}
    </div>
</div>
{% endblock %}
