{% extends "../base_auth.html" %}
{% block scripts %}
    <script src="/assets/feed.js?d=20231217"></script>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <ul class="cat-list-bg-style align-center sorting-menu">
                {% block submenu %}{% endblock %}
                {% if __search %}
                    <li id="search-button" class="cat-list__item {% if __query || __tag %}active{% endif %}">
                        <a href="#" data-toggle="modal" data-target="#search-popup">
                            <svg class="customize-feed"><use xlink:href="#olymp-magnifying-glass-icon"></use></svg>
                            <span {% if !__query && !__tag %}class="hidden"{% endif %}>Результаты</span>
                        </a>
                    </li>
                {% endif %}
                <li class="cat-list__item">
                    <a href="#" data-toggle="modal" data-target="#feed-settings">
                        <svg class="customize-feed"><use xlink:href="#olymp-settings-icon"></use></svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    {% if !me.id %}
        <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <div class="h6 title">Больше записей доступно зарегистрированным пользователям.</div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if __view == "masonry" %}
        <div id="feed" class="row sorting-container" data-layout="masonry">
            {% if entries %}
                {% include "feed_page.html" %}
            {% else %}
                <h6 id="empty-feed" class="title hcenter">Нет записей</h6>
            {% endif %}
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 order-3">
                <div id="feed">
                    {% if entries %}
                        {% include "tlog_page.html" %}
                    {% else %}
                        <h6 id="empty-feed" class="title hcenter">Нет записей</h6>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
</div>



<div class="modal fade" id="feed-settings" tabindex="-1" role="dialog" aria-labelledby="feed-settings" aria-hidden="true">
    <div class="modal-dialog window-popup edit-widget" role="document">
        <div class="modal-content">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Закрыть">
                <svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
            </a>

            <div class="modal-header">
                <h6 class="title">Настроить ленту</h6>
            </div>

            <div class="modal-body">
                <form method="get" enctype="application/x-www-form-urlencoded">
                    <fieldset class="form-group label-floating is-select">
                        <label class="control-label">Количество записей на странице</label>
                        <select name="limit" class="selectpicker form-control">
                            <option value="10"  {% if __limit == "10" %}selected{% endif %}>Показывать 10 записей</option>
                            <option value="20"  {% if __limit == "20" %}selected{% endif %}>Показывать 20 записей</option>
                            <option value="30"  {% if __limit == "30" %}selected{% endif %}>Показывать 30 записей (по умолчанию)</option>
                            <option value="50"  {% if __limit == "50" %}selected{% endif %}>Показывать 50 записей</option>
                            <option value="100" {% if __limit == "100" %}selected{% endif %}>Показывать 100 записей</option>
                        </select>
                    </fieldset>

                    {% block feed_source %}
                        <fieldset class="form-group label-floating is-select">
                            <label class="control-label">Источники записей</label>
                            <select name="source" class="selectpicker form-control">
                                <option value="all" {% if __source == "all" %}selected{% endif %}>Дневники и темы</option>
                                <option value="users" {% if __source == "users" %}selected{% endif %}>Дневники</option>
                                <option value="themes" {% if __source == "themes" %}selected{% endif %}>Темы</option>
                            </select>
                        </fieldset>
                    {% endblock %}

                    <fieldset class="form-group label-floating is-select">
                        <label class="control-label">Вид ленты</label>
                        <select name="view" class="selectpicker form-control">
                            <option value="masonry" {% if __view == "masonry" %}selected{% endif %}>Кратко (кирпичиками)</option>
                            <option value="tlog" {% if __view == "tlog" %}selected{% endif %}>Полностью (как в тлоге)</option>
                        </select>
                    </fieldset>

                    {% block feed_settings %}{% endblock %}

                    <input type="submit" class="btn btn-primary btn-lg full-width" value="Применить">
                </form>
            </div>
        </div>
    </div>
</div>

{% if __search %}
    <div class="modal fade" id="search-popup" tabindex="-1" role="dialog" aria-labelledby="search-popup" aria-hidden="true">
        <div class="modal-dialog window-popup" role="document">
            <div class="modal-content">
                <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Закрыть">
                    <svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
                </a>
                <div class="modal-body">
                    {% include "feed_search.html" with __placeholder = "Поиск записей" %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% include "entry_popup.html" %}
{% include "../complain_popup.html" %}
{% endblock %}
