{% extends "tlog_base.html" %}
{% block title %}Комментарии{% endblock %}
{% block tlog_content %}
    <div class="col col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12 order-xl-2 order-last">
        <div class="ui-block responsive-flex">
            <div class="ui-block-title">
                <div class="h6 title">Комментарии</div>
            </div>
        </div>
        <div id="feed">
            {% if data %}
                {% include "comment_feed_page.html" %}
            {% else %}
                <div id="empty-feed" class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">
                            {% if !profile.relations.isOpenForMe %}
                                {{ profile.showName }} скрыл{{ profile.gender|gender }} свои записи.
                            {% else %}
                                Нет комментариев
                            {% endif %}
                        </h6>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
