<div class="modal fade" id="{{ modalID }}" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog window-popup edit-widget" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title">{{ title }}</h6>
            </div>
            <div class="modal-body">
                <div class="skills-item">
                    <div class="skills-item-info">
                        <span id="paste-image-state" class="skills-item-title">Отправка...</span>
                        <span class="skills-item-count">
                            <span class="units"></span>
                        </span>
                    </div>
                    <div class="skills-item-meter">
                        <span class="skills-item-meter-active bg-primary" style="width: 0%; opacity: 1"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
