{% extends "../base_no_auth.html" %}
{% block description %}Здесь можно найти информацию о том, как работают приглашения на Майндвелле.{% endblock %}
{% block title %}Вопросы по приглашениям{% endblock %}
{% block body %}
    <section class="mb60">
        <div class="container">
            <div class="row">
                <div class="col col-xl-8 m-auto col-lg-10 col-md-12 col-sm-12 col-12">
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="accordion-faqs">
                        <div class="card">

                            <div class="card-header" role="tab" id="heading-get-invite">
                                <h3 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-get-invite" aria-expanded="true" aria-controls="collapse-get-invite" class="collapsed">
                                        Как получить приглашение?
                                        <span class="icons-wrap">
                                            <svg class="olymp-plus-icon"><use xlink:href="#olymp-plus-icon"></use></svg>
                                            <svg class="olymp-accordion-close-icon"><use xlink:href="#olymp-accordion-close-icon"></use></svg>
                                        </span>
                                    </a>
                                </h3>
                            </div>
                    
                            <div id="collapse-get-invite" class="collapse" role="tabpanel" aria-labelledby="headingget-invite">
                                <p>
                                    Есть два способа получить приглашение на сайт.
                                </p>
                                <p>
                                    Можно публиковать открытые записи. Тогда кто-то другой, у кого есть свободное
                                    приглашение, зайдет в профиль и отправит его. 
                                </p>
                                <p>
                                    Чтобы человеку можно было отправить приглашение, у него должно быть не менее пяти положительных голосов 
                                    от трех разных людей суммарно за все его посты. Голоса за комментарии в расчет не берутся.
                                </p>
                                <p>
                                    Людей, которые пишут регулярно, обычно приглашают уже в первые несколько дней. 
                                </p>
                                <p>
                                    Также можно попросить приглашение через поддержку сайта, отправив письмо или написав
                                    в личные сообщения Mindwell. Там зададут несколько вопросов и после этого, если все
                                    будет в порядке, выдадут приглашение.
                                </p>
                            </div>

                            <div class="card-header" role="tab" id="heading-earn-invite">
                                <h3 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-earn-invite" aria-expanded="true" aria-controls="collapse-earn-invite" class="collapsed">
                                        Как заработать приглашение, чтобы выдать его другому человеку или создать тему?
                                        <span class="icons-wrap">
                                            <svg class="olymp-plus-icon"><use xlink:href="#olymp-plus-icon"></use></svg>
                                            <svg class="olymp-accordion-close-icon"><use xlink:href="#olymp-accordion-close-icon"></use></svg>
                                        </span>
                                    </a>
                                </h3>
                            </div>
                    
                            <div id="collapse-earn-invite" class="collapse" role="tabpanel" aria-labelledby="heading-earn-invite">
                                <p>
                                    Пользователь получает свое первое приглашение после того, как опубликует
                                    десять постов с положительным рейтингом. Голоса от пригласившего его человека при этом не учитываются. Для
                                    получения приглашения нужно быть зарегистрированным на сайте не менее двух недель. 
                                </p>
                                <p>
                                    Далее приглашения выдаются за посты, набравшие высокий рейтинг. Если на третьи сутки после публикации пост 
                                    находится в сотне лучших за месяц, его автор получает приглашение. Приглашения можно получать не чаще
                                    одного раза в две недели. 
                                </p>
                            </div>

                            <div class="card-header" role="tab" id="heading-not-invited">
                                <h3 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-not-invited" aria-expanded="true" aria-controls="collapse-not-invited" class="collapsed">
                                        Какие возможности есть у людей, которые пока не получили приглашение?
                                        <span class="icons-wrap">
                                            <svg class="olymp-plus-icon"><use xlink:href="#olymp-plus-icon"></use></svg>
                                            <svg class="olymp-accordion-close-icon"><use xlink:href="#olymp-accordion-close-icon"></use></svg>
                                        </span>
                                    </a>
                                </h3>
                            </div>
                    
                            <div id="collapse-not-invited" class="collapse" role="tabpanel" aria-labelledby="heading-not-invited">
                                <p>
                                    Основные возможности сайта доступны всем пользователям. В том числе:
                                </p>
                                <ul>
                                    <li>писать посты в свой тлог,</li>
                                    <li>отправлять посты в соответствующий раздел Прямого эфира,</li>
                                    <li>общаться в комментариях под своими постами,</li>
                                    <li>отвечать на личные сообщения,</li>
                                    <li>подписываться на тлоги и темы,</li>
                                    <li>добавлять записи в избранное,</li>
                                    <li>жаловаться на нарушение правил</li>
                                    <li>и производить другие действия, не нарушающие правила.</li>
                                </ul>
                            </div>
                    
                            <div class="card-header" role="tab" id="heading-invited">
                                <h3 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-invited" aria-expanded="true" aria-controls="collapse-invited" class="collapsed">
                                        Какие преимущества получают пользователи, которых пригласили?
                                        <span class="icons-wrap">
                                            <svg class="olymp-plus-icon"><use xlink:href="#olymp-plus-icon"></use></svg>
                                            <svg class="olymp-accordion-close-icon"><use xlink:href="#olymp-accordion-close-icon"></use></svg>
                                        </span>
                                    </a>
                                </h3>
                            </div>
                    
                            <div id="collapse-invited" class="collapse" role="tabpanel" aria-labelledby="heading-invited">
                                <p>
                                    После приглашения пользователь дополнительно получает следующие возможности:
                                </p>
                                <ul>
                                    <li>публиковать свои записи в основной раздел Прямого эфира,</li>
                                    <li>попадать в Лучшее,</li>
                                    <li>публиковать записи в темы,</li>
                                    <li>читать тлоги и темы, открытые только для приглашенных,</li>
                                    <li>отключать голосование на своих записях,</li>
                                    <li>голосовать за посты и комментарии,</li>
                                    <li>комментировать чужие посты,</li>
                                    <li>начинать новые беседы,</li>
                                    <li>приглашать других пользователей,</li>
                                    <li>создавать новые темы.</li>
                                </ul>
                            </div>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
