{% extends "base.html" %}
{% block title %}О нас{% endblock %}
{% block body_class %}class="body-bg-white"{% endblock %}
{% block base_scripts %}
    <script src="/assets/olympus/js/ScrollMagic.js"></script>
{% endblock %}
{% block header %}
	<div class="stunning-header bg-primary-opacity">
		
		<div class="header--standard header--standard-landing" id="header--standard">
			<div class="container">
				<div class="header--standard-wrap">
		
					<a href="/" class="logo">
						<div class="img-wrap">
							<img src="/assets/icons/header-white.png" width="42" height="45" alt="Mindwell">
						</div>
						<div class="title-block">
							<h6 class="logo-title">mindwell</h6>
							<div class="sub-title">ДОМ МЫСЛЕЙ</div>
						</div>
					</a>
		
				</div>
			</div>
		</div>
		
		<div class="header-spacer--standard"></div>

		<div class="stunning-header-content">
			<h1 class="stunning-header-title">О нас</h1>
		</div>

		<div class="content-bg-wrap stunning-header-bg1"></div>
	</div>
{% endblock %}
{% block body %}
	<section class="medium-padding120">
		<div class="container">
			<div class="row">
				<div class="about-us col col-xl-6 m-auto col-lg-8 col-md-12 col-sm-12 col-12">
                    <p>
                        Приветствуем!
                    </p>
                    
                    <p>
                        Мы — бывшие пользователи Тейсти (если вдруг вы не слышали это название, 
                        ничего страшного). Много лет мы вели там свои тлоги и нам там очень 
                        нравилось. На Тейсти была своя уникальная атмосфера и много удобных 
                        функций.                             
                    </p>

                    <p>
                        Но разработчики забросили свой проект. Тогда мы стали искать альтернативу 
                        этому месту. Найти ее мы не смогли. Ни на одном сайте не было всего того, 
                        за что мы его ценили. Поэтому мы решили сделать свой сервис на замену 
                        старому. Так и появился Майндвелл.                            
                    </p>
                    
                    <p>
                        Майндвелл — это сайт, на котором можно вести свой личный дневник. Что тут 
                        уже есть на момент написания этого текста:                            
                    </p>

                    <ul>
                        <li>
                            дружественное сообщество,
                        </li>
                        <li>
                            прямая связь с администрацией,
                        </li>
                        <li>
                            полузакрытая регистрация по приглашениям,
                        </li>
                        <li>
                            дневники, комментарии, голосовалки,
                        </li>
                        <li>
                            различные настройки приватности,
                        </li>
                        <li>
                            ленты подписок, всех открытых записей, лучшие записи,
                        </li>
                        <li>
                            уведомления о комментариях на сайте и в Телеграм,
                        </li>
                        <li>
                            Клуб анонимных Дедов Морозов,
                        </li>
                        <li>
                            открытый API для разработки приложений.
                        </li>
                    </ul>
                    
                    <p>
                        Что еще планируется (из основного):                            
                    </p>

                    <ul>
                        <li>
                            чаты и диалоги,
                        </li>
                        <li>
                            загрузка изображений прямо на сайт,
                        </li>
                        <li>
                            теги к постам,
                        </li>
                        <li>
                            сообщества (потоки),
                        </li>
                        <li>
                            анонимки,
                        </li>
                        <li>
                            календарик записей,
                        </li>
                        <li>
                            экспорт своего дневника на компьютер,
                        </li>
                        <li>
                            импорт дневников с Тейсти.
                        </li>
                    </ul>
                    
                    <p>
                        Мы разрабатываем Майндвелл для себя и для всех вас в свое свободное время. 
                        В первую очередь мы хотим, чтобы сайтом нравилось пользоваться, и 
                        не стремимся на нем разбогатеть. Но все же для его работы требуются деньги, 
                        а также много сил и умений. Если вы одобряете, что мы делаем, вы можете 
                        поддержать нас финансово.                            
                    </p>

                    <p>
                        Ваши деньги пойдут на                            
                    </p>

                    <ul>
                        <li>
                            оплату хостинга, домена, необходимых сторонних сервисов,
                        </li>
                        <li>
                            покупку программных компонентов, изображений, звуков 
                            для использования на сайте,
                        </li>
                        <li>
                            зарплату фрилансерам, чтобы ускорить разработку,
                        </li>
                        <li>
                            радость создателям.
                        </li>
                    </ul>
                    
                    <p>
                        Нажав эту оранжевую кнопку, вы попадете на Patreon. Введите любую сумму
                        (минимум один доллар), свои платежные данные и подтвердите подписку. 
                        Деньги спишутся сегодня, а затем будут списываться первого числа каждого
                        месяца. В любой момент сумму пожертвования можно изменить или отменить 
                        подписку совсем.
                    </p>

                    <a class="btn btn-primary btn-lg full-width" href="https://www.patreon.com/bePatron?u=20433042" target="__blank">
                        Стать покровителем!
                    </a>

                    <p>
                        Наши покровители будут первыми узнавать о новых возможностях и смогут их 
                        тестировать до появления на основном сайте. Также скоро мы откроем наш 
                        Трелло, на котором можно будет следить за ходом разработки и дальнейшими 
                        планами. Ну и самое главное — вы поможете Майндвеллу развиваться.                            
                    </p>

                    <p>
                        Для нас удобнее получать небольшие деньги, но регулярно, чтобы лучше 
                        планировать расходы. Но при желании вы так же можете сделать нам 
                        единоразовый подарок через форму Яндекс.Денег.
                    </p>

                    <iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=%D0%9D%D0%B0%20%D0%B4%D0%BE%D0%BB%D0%B3%D1%83%D1%8E%20%D0%B6%D0%B8%D0%B7%D0%BD%D1%8C%20%D0%9C%D0%B0%D0%B9%D0%BD%D0%B4%D0%B2%D0%B5%D0%BB%D0%BB%D0%B0&targets-hint=&default-sum=200&button-text=12&payment-type-choice=on&mobile-payment-type-choice=on&comment=on&hint=%D0%9B%D1%8E%D0%B1%D1%8B%D0%B5%20%D0%BF%D0%BE%D0%B6%D0%B5%D0%BB%D0%B0%D0%BD%D0%B8%D1%8F%2C%20%D0%BD%D0%B5%D1%81%D0%B4%D0%B5%D1%80%D0%B6%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5%20%D0%BF%D0%BE%D1%85%D0%B2%D0%B0%D0%BB%D1%8B%20%D0%B8%D0%BB%D0%B8%20%D0%B3%D1%80%D1%8F%D0%B7%D0%BD%D1%8B%D0%B5%20%D1%80%D1%83%D0%B3%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%B0&successURL=https%3A%2F%2Fmindwell.win%2Flive&quickpay=shop&account=41001371783160" width="100%" height="314" frameborder="0" allowtransparency="true" scrolling="no"></iframe>

                    <p>
                        Мы будем весьма благодарны любой сумме, даже самой маленькой. Спасибо!                            
                    </p>

                    <div class="container medium-padding120">
                        <div class="row">
                            <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="contact-item-wrap">
                                    <h3 class="contact-title">Telegram</h3>
                                    <div class="contact-item">
                                        <h6 class="sub-title">Техническая поддержка и общение</h6>
                                        <a href="https://t.me/mindwell" target="__blank">https://t.me/mindwell</a>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="contact-item-wrap">
                                    <h3 class="contact-title">Почта</h3>
                                    <div class="contact-item">
                                        <h6 class="sub-title">Техническая поддержка</h6>
                                        <a href="mailto:support@mindwell.win">support@mindwell.win</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </section>
{% endblock %}
