<!DOCTYPE html>
<html lang="ru">
<head>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title %}Mindwell{% endblock %}</title>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/icons/site.webmanifest">
    <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#fe6543">
    <link rel="shortcut icon" href="/assets/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Mindwell">
    <meta name="application-name" content="Mindwell">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
    <meta name="theme-color" content="#fe6543">

	<!-- Main Font -->
	<script src="/assets/olympus/js/webfontloader.min.js"></script>
	<script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});
	</script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="/assets/olympus/Bootstrap/dist/css/bootstrap-reboot.css">
	<link rel="stylesheet" type="text/css" href="/assets/olympus/Bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/assets/olympus/Bootstrap/dist/css/bootstrap-grid.css">

	<!-- Main Styles CSS -->
	<link rel="stylesheet" type="text/css" href="/assets/olympus/css/main.min.css?d=20180701">
	<link rel="stylesheet" type="text/css" href="/assets/olympus/css/fonts.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/base.css?d=20180911">

    {% block base_styles %}{% endblock %}

</head>
<body {% block body_class %}{% endblock %}>

    {% if __test %}
        <h1 style="background-color: red; position: fixed; top: 80px; left: 10px; z-index: 100;">ТЕСТ</h1>
    {% endif %}

    {% block header %}{% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}{% endblock %}
    
    <!-- JS Scripts -->
    <script src="/assets/js/jquery-3.3.1.min.js"></script>

    <script src="/assets/olympus/js/jquery.appear.js"></script>
    <script src="/assets/olympus/js/jquery.mousewheel.js"></script>
    <script src="/assets/olympus/js/perfect-scrollbar.js"></script>
    <script src="/assets/olympus/js/jquery.matchHeight.js"></script>
    <script src="/assets/olympus/js/svgxuse.js"></script>
    <script src="/assets/olympus/js/imagesloaded.pkgd.js"></script>
    <script src="/assets/olympus/js/Headroom.js"></script>
    <script src="/assets/olympus/js/velocity.js"></script>
    <script src="/assets/olympus/js/ScrollMagic.js"></script>
    <script src="/assets/olympus/js/jquery.waypoints.js"></script>
    <script src="/assets/olympus/js/jquery.countTo.js"></script>
    <script src="/assets/olympus/js/popper.min.js"></script>
    <script src="/assets/olympus/js/material.min.js"></script>
    <script src="/assets/olympus/js/bootstrap-select.js"></script>
    <script src="/assets/olympus/js/smooth-scroll.js"></script>
    <script src="/assets/olympus/js/selectize.js"></script>
    <script src="/assets/olympus/js/swiper.jquery.js"></script>
    <script src="/assets/olympus/js/moment.js"></script>
    <script src="/assets/olympus/js/daterangepicker.js"></script>
    <script src="/assets/olympus/js/simplecalendar.js"></script>
    <script src="/assets/olympus/js/fullcalendar.js"></script>
    <script src="/assets/olympus/js/isotope.pkgd.js"></script>
    <script src="/assets/olympus/js/ajax-pagination.js"></script>
    <script src="/assets/olympus/js/Chart.js"></script>
    <script src="/assets/olympus/js/chartjs-plugin-deferred.js"></script>
    <script src="/assets/olympus/js/circle-progress.js"></script>
    <script src="/assets/olympus/js/loader.js"></script>
    <script src="/assets/olympus/js/run-chart.js"></script>
    <script src="/assets/olympus/js/jquery.magnific-popup.js"></script>
    <script src="/assets/olympus/js/jquery.gifplayer.js"></script>
    <script src="/assets/olympus/js/mediaelement-and-player.js"></script>
    <script src="/assets/olympus/js/mediaelement-playlist-plugin.min.js"></script>

    <script src="/assets/olympus/js/base-init.js"></script>
    <script defer src="/assets/olympus/fonts/fontawesome-all.js"></script>

    <script src="/assets/olympus/Bootstrap/dist/js/bootstrap.bundle.js"></script>

    <script src="/assets/js/jquery.form.min.js"></script>
    <script src="/assets/js/jquery.plugin.min.js"></script>
    <script src="/assets/js/jquery.maxlength.min.js"></script>
    
    <script src="/assets/base.js?d=20180909"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
