{% extends "base.html" %}
{% block base_styles %}
    <link rel="stylesheet" type="text/css" href="/assets/base.css">
    {% block styles %}{% endblock %}
{% endblock %}
{% block header %}
    <div id="header--standard" class="header--standard header--standard-dark">
        <div class="container">
            <div class="header--standard-wrap">
                <a href="/live" class="logo">
                    <div class="img-wrap">
                        <img src="/assets/olympus/img/logo-colored-small.png" alt="Olympus">
                    </div>
                    <div class="title-block">
                        <h6 class="logo-title">mindwell</h6>
                        <div class="sub-title">ДОМ МЫСЛЕЙ</div>
                    </div>
                </a>
    
                <a href="#" class="open-responsive-menu js-open-responsive-menu">
                    <svg class="olymp-menu-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
                </a>
    
                <div class="nav nav-pills nav1 header-menu">
                    <div class="mCustomScrollbar">
                        <ul>
                            <li class="nav-item">
                                <a href="/live" class="nav-link">Прямой эфир</a>
                            </li>
                            <li class="nav-item">
                                <a href="/friends" class="nav-link">Подписки</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" href="#" 
                                    role="button" aria-haspopup="false" aria-expanded="false" tabindex='1'>{{ me.showName }}</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/users/{{ me.name }}">Профиль</a>
                                    <a class="dropdown-item" href="/post">Новая запись</a>
                                    <a class="dropdown-item" href="/account/invites">Приглашения</a>
                                    <a class="dropdown-item" href="/account/password">Настройки</a>
                                    <a class="dropdown-item" href="/logout">Выйти</a>
                                </div>
                            </li>
                            <li class="close-responsive-menu js-close-responsive-menu">
                                <svg class="olymp-close-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <a class="back-to-top" href="#">
        <img src="/assets/olympus/svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
    </a>
{% endblock %}
