<div class="row">
    <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
        <div class="contact-item-wrap">
            <h3 class="contact-title">Telegram</h3>
            <div class="contact-item">
                <h6 class="sub-title">Новости и техническая поддержка</h6>
                <a href="https://t.me/mindwell" target="__blank">t.me/mindwell</a>
            </div>
        </div>
    </div>

    <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
        <div class="contact-item-wrap">
            <h3 class="contact-title">ВКонтакте</h3>
            <div class="contact-item">
                <h6 class="sub-title">Новости и избранные записи</h6>
                <a href="https://vk.com/mindwell" target="__blank">vk.com/mindwell</a>
            </div>
        </div>
    </div>

    <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
        <div class="contact-item-wrap">
            <h3 class="contact-title">Почта</h3>
            <div class="contact-item">
                <h6 class="sub-title">Техническая поддержка</h6>
                <a href="mailto:support@mindwell.win">support@mindwell.win</a>
            </div>
        </div>
    </div>
</div>
