{% extends "base_auth.html" %}
{% block title %}Редактор поста — Mindwell{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/assets/editor/css/editormd.min.css" />
{% endblock %}
{% comment %}
{% block scripts %}
    <script src="/assets/editor/editormd.min.js"></script>
    <script src="/assets/editor/languages/en.js"></script>
    <script src="/assets/editor.js"></script>
{% endblock %}
{% endcomment %}
{% block body %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col col-lg-8 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <div class="ui-block-content">
                    <div class="row">
                        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                            <form name="editor" action={% if id %}"/entries/{{ id }}"{% else %}"/entries"{% endif %} method="post">
                                <div class="form-group">
                                    <textarea class="form-control" rows="2" cols="80" maxlength="500"
                                        name="title" placeholder="Заголовок поста">{{ title }}</textarea>
                                </div>

                                <div id="editormd" class="form-group">
                                    <textarea class="form-control" rows="20" cols="80" maxlength="30000"
                                        name="content" placeholder="Текст поста" required>{{ editContent }}</textarea>
                                </div>

                                <fieldset class="form-group label-floating is-select">
                                    <label class="control-label">Пост будет виден</label>
                                    <select class="selectpicker form-control" name="privacy">
                                        <option value="all" {% if privacy == "all" %}selected{% endif %}>всем</option>
                                        {% comment %} <option value="followers">только подписчикам</option> {% endcomment %}
                                        <option value="me" {% if privacy == "me" %}selected{% endif %}>только мне</option>
                                    </select>
                                </fieldset>                

                                <div class="switcher-block">
                                    <div class="h6 title">Разрешить голосование</div>
                                    <div class="togglebutton">
                                        <label>
                                            <input type="checkbox" name="isVotable" {% if !id || rating.isVotable %}checked{% endif %}>
                                        </label>
                                    </div>
                                </div>

                                <input type="submit" class="btn btn-primary btn-md-2" value={% if id %}"Сохранить"{% else %}"Опубликовать"{% endif %} />
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
