{% extends "base_auth.html" %}
{% block title %}Редактор{% endblock %}
{% block styles %}
    {% comment %}<link rel="stylesheet" href="/assets/editor/css/editormd.min.css" />{% endcomment %}
{% endblock %}
{% block scripts %}
{% comment %}
    <script src="/assets/editor/editormd.min.js"></script>
    <script src="/assets/editor/languages/en.js"></script>
{% endcomment %}
    <script src="/assets/js/basil.min.js"></script>
    <script src="/assets/editor.js?d=20190609"></script>
{% endblock %}
{% block body %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col col-lg-8 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <div class="ui-block-content">
                    <div class="row">
                        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                            <form id="entry-editor" name="editor" data-entry-id="{{ id|default:0 }}"
                                    action={% if id %}"/entries/{{ id }}"{% else %}"/entries"{% endif %} method="post"
                                    enctype="application/x-www-form-urlencoded">
                                <div class="form-group">
                                    <input type="text" class="form-control" maxlength="500" autocomplete="off"
                                        name="title" placeholder="Заголовок поста" value="{{ title|safe }}"/>
                                </div>

                                <div id="editormd" class="form-group">
                                    <textarea class="form-control" rows="20" cols="80" maxlength="30000"
                                        name="content" placeholder="Текст поста" required>{{ editContent|safe }}</textarea>
                                </div>
                            	
                                <fieldset class="form-group label-floating is-select">
                                    <label class="control-label">Пост будет виден</label>
                                    <select class="selectpicker form-control" name="privacy">
                                        <option value="all" {% if privacy == "all" %}selected{% endif %}>всем</option>
                                        {% comment %} <option value="followers">только подписчикам</option> {% endcomment %}
                                        <option value="me" {% if privacy == "me" %}selected{% endif %}>только мне</option>
                                    </select>
                                </fieldset>                

                                {% if me.invitedBy.id %}
                                    <div class="switcher-block for-public-only">
                                        <div class="h6 title">Разрешить голосование</div>
                                        <div class="togglebutton">
                                            <label>
                                                <input type="checkbox" name="isVotable" {% if !id || rating.isVotable %}checked{% endif %}>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="switcher-block for-public-only">
                                        <div class="h6 title">Отправить в Прямой эфир</div>
                                        <div class="togglebutton">
                                            <label>
                                                <input type="checkbox" name="inLive" {% if !id || inLive %}checked{% endif %}>
                                            </label>
                                        </div>
                                    </div>
                                {% else %}
                                    <input type="hidden" name="isVotable" value="true" />
                                    <input type="hidden" name="inLive" value="false" />
                                    <div class="alert alert-secondary" role="alert">
                                        Тебе нельзя отправлять записи в Прямой эфир и отключать голосование.
                                    </div>
                                {% endif %}

                                <input id="input-images" type="hidden" name="images" 
                                    value="{% for image in images %}{{ image.id }},{% endfor %}"/>

                                <div id="attached-images">
                                    {% for image in images %}
                                        {% include "images/attached.html" %}
                                    {% endfor %}
                                </div>

								<div class="add-options-message news-feed-form">
									<a id="show-upload-image" href="#" class="options-message">
										<svg class="olymp-camera-icon" data-toggle="tooltip" data-placement="top" data-original-title="Добавить изображение">
                                            <use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-camera-icon"></use>
                                        </svg>
									</a>
									<button id="post-entry" class="btn btn-primary btn-md-2">{% if id %}Сохранить{% else %}Опубликовать{% endif %}</button>
								</div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="upload-image-popup" tabindex="-1" role="dialog" aria-labelledby="upload-image-popup" aria-hidden="true">
    <div class="modal-dialog window-popup edit-widget" role="document">
        <div class="modal-content">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Закрыть">
                <svg class="olymp-close-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
            </a>

            <div class="modal-header">
                <h6 class="title">Прикрепить новое изображение</h6>
            </div>

            <div class="modal-body">
                <form id="image-uploader" action="/images" method="post" enctype="multipart/form-data">
                    <div class="file-upload">
                        <label for="cover-file" class="btn btn-primary btn-sm">Выбрать файл</label>
                        <label class="control-label"></label>
                        <input id="cover-file" class="file-upload__input" type="file" name="file" 
                            data-max-size="10" accept="image/jpeg, image/png, image/gif" required>
                    </div>
                    <p>Поддерживаются JPEG, PNG, GIF размером не&nbsp;более 10&nbsp;Мб.</p>
                    <button id="upload-image" class="btn btn-primary btn-lg full-width">Загрузить</button>
                </form>
            </div>

        </div>

    </div>
</div>
{% endblock %}
