<html>
	<head>
        <meta charset="utf-8">
		<title>Редактирование профиля в Mindwell</title>
	</head>
	<body>
        <form name="editor" action="/me/save" method="post" enctype="multipart/form-data">
            <textarea name="title" rows="2" cols="80" placeholder="Заголовок тлога" autofocus>{{ title }}</textarea><br/>
            <span>Имя</span><input name="showName" type="text" required value="{{ showName }}"/><br /> 
            <span>Пол</span> 
            <select name="gender">
                <option value="not set" {% if gender == "not set" %}selected{% endif %}>не указан</option>
                <option value="female" {% if gender == "female" %}selected{% endif %}>женский</option>
                <option value="male" {% if gender == "male" %}selected{% endif %}>мужской</option>
            </select><br /> 
            <span>Страна</span><input type="text" name="country" value="{{ country }}"><br>
            <span>Город</span><input type="text" name="city" value="{{ city }}"><br>
            {% comment %} <input type="checkbox" name="isDaylog" {% if isDaylog %}checked{% endif %}> Тлогодень<br /> 
            <input type="checkbox" name="showInTops" {% if showInTops %}checked{% endif %}> Разрешить показывать в топах<br />  {% endcomment %}
            <span>Приватность тлога</span>
            <select name="privacy">
                <option value="all" {% if privacy == "all" %}selected{% endif %}>Открыт для всех</option>
                <option value="followers" {% if privacy == "followers" %}selected{% endif %}>Открыт только подписчикам</option>
            </select> <br/>
            <input type="submit" value="Сохранить" />
        </form>
    </body>
</html>
