{% extends "base_auth.html" %}
{% block title %}Редактор{% endblock %}
{% block scripts %}
    <script src="/assets/js/basil.min.js"></script>
    <script src="/assets/editor.js?d=20220915"></script>
{% endblock %}
{% block body %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col col-lg-8 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <div class="ui-block-content">
                    <div class="row">
                        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                            <form id="entry-editor" name="editor"
                                    data-entry-id="{{ id|default:0 }}" data-theme="{{ theme.name }}" data-theme-id="{{ theme.id }}"
                                    action="/entries{% if id %}/{{ id }}{% elif theme %}?theme={{ theme.name }}{% endif %}"
                                    method="post" enctype="application/x-www-form-urlencoded">
                                <div class="form-group">
                                    <input type="text" class="form-control" maxlength="500" autocomplete="off"
                                        name="title" placeholder="Заголовок поста" value="{{ title|safe }}"/>
                                </div>

                                <div id="editormd" class="form-group">
                                    <textarea class="form-control" rows="20" cols="80" maxlength="30000"
                                        name="content" placeholder="Текст поста" required>{{ editContent|safe }}</textarea>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" maxlength="255" autocomplete="off"
                                           name="tags" placeholder="Теги через запятую, не более пяти" value="{{ tags|join:", " }}"/>

                                    {% if suggestedTags.data %}
                                        <div class="editor-tags">
                                            {% for tag in suggestedTags.data %}
                                                <a href="#">{{ tag.tag }}</a>
                                                {% if !forloop.Last %}<span class="dot-divider"></span>{% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                </div>

                                <fieldset class="form-group label-floating is-select">
                                    <label class="control-label">Пост будет виден</label>
                                    <select class="selectpicker form-control" name="privacy">
                                        <option value="all" {% if privacy == "all" %}selected{% endif %}>всем</option>
                                        <option value="registered" {% if privacy == "registered" %}selected{% endif %}>только зарегистрированным</option>
                                        <option value="invited" {% if privacy == "invited" %}selected{% endif %}>только приглашенным</option>
                                        <option value="followers" {% if privacy == "followers" %}selected{% endif %}>только подписчикам</option>
                                        {% if !theme %}<option value="me" {% if privacy == "me" %}selected{% endif %}>только мне</option>{% endif %}
                                    </select>
                                    {% if (!theme && me.privacy != "all") || (theme && theme.privacy != "all") %}
                                        <span class="hint">Приватность записей работает в пределах приватности профиля.</span>
                                    {% endif %}
                                </fieldset>

                                {% if me.invitedBy.id %}
                                    <div id="allow-voting" class="switcher-block">
                                        <div class="h6 title">Разрешить голосование</div>
                                        <div class="togglebutton">
                                            <label>
                                                <input type="checkbox" name="isVotable" {% if !id || rating.isVotable %}checked{% endif %}>
                                            </label>
                                        </div>
                                    </div>
                                {% else %}
                                    <input type="hidden" name="isVotable" value="true" />
                                {% endif %}

                                <div id="allow-commenting" class="switcher-block">
                                    <div class="h6 title">Разрешить комментирование</div>
                                    <div class="togglebutton">
                                        <label>
                                            <input type="hidden" name="isCommentable" value="false" />
                                            <input type="checkbox" name="isCommentable" {% if !id || isCommentable %}checked{% endif %}>
                                        </label>
                                    </div>
                                </div>

                                {% if me.account.verified %}
                                    {% if theme %}
                                        <div id="anonymous" class="switcher-block">
                                            <div class="h6 title">Опубликовать анонимно</div>
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" name="isAnonymous" {% if isAnonymous %}checked{% endif %}>
                                                </label>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div id="allow-live" class="switcher-block">
                                        <div class="h6 title">Отправить в Прямой эфир</div>
                                        <div class="togglebutton">
                                            <label>
                                                <input type="checkbox" name="inLive" {% if !id || inLive %}checked{% endif %}>
                                            </label>
                                        </div>
                                    </div>
                                    {% if (!id || inLive) && !theme && me.privacy == "followers" %}
                                        <span class="hint">Запись появится в Прямом эфире, если открыть профиль.</span>
                                    {% endif %}
                                {% else %}
                                    <p class="alert alert-danger for-public-only" role="alert">
                                        Чтобы публиковать записи в Прямой эфир{% if theme %} и анонимно{% endif %},
                                        <a href="/account/email" class="alert-link">подтверди адрес своей почты</a>.
                                    </p>
                                    <input type="hidden" name="inLive" value="false" />
                                {% endif %}

                                <input id="input-images" type="hidden" name="images" 
                                    value="{% for image in images %}{{ image.id }},{% endfor %}"/>

                                <div id="attached-images">
                                    {% for image in images %}
                                        {% include "images/attached.html" %}
                                    {% endfor %}
                                </div>

								<div class="add-options-message news-feed-form">
									<a id="show-upload-image" href="#" class="options-message">
										<svg class="olymp-camera-icon" data-toggle="tooltip" data-placement="top" data-original-title="Добавить изображение">
                                            <use xlink:href="#olymp-camera-icon"></use>
                                        </svg>
									</a>
									<button id="post-entry" class="btn btn-primary btn-md-2">
                                        {% if id %}Сохранить{% elif theme %}Опубликовать в тему{% else %}Записать в дневник{% endif %}
                                    </button>
								</div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "images/upload.html" with modalID="upload-image-popup" title="Прикрепить новое изображение" action="/images" %}
{% endblock %}
