<div class="ui-block">
    <article class="hentry post">
        <div class="post__author author vcard inline-items">
            
            <a href="/users/{{ entry.author.name }}"><img src="{{ entry.author.avatar.x42 }}" alt="{{ entry.author.showName }}"></a>

            <div class="author-date">
                <a class="h6 post__author-name fn" href="/users/{{ entry.author.name }}">{{ entry.author.showName }}</a> 
                <div class="post__date">
                    <a href="/entries/{{ entry.id }}">
                        <time class="published" datetime="{{ entry.createdAt }}">{{ entry.createdAt|floatformat:0 }}</time>
                    </a>
                </div>
            </div>
    
            {% if entry.author.id == me.id %}
                <div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                    <ul class="more-dropdown">
                        <li>
                            <a href="/entries/{{ entry.id }}/edit">Редактировать</a>
                        </li>
                        <li>
                            <a href="#" onclick="deletePost({{ entry.id }});return false;">Удалить</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
    
        </div>
    
        <a href="/entries/{{ entry.id }}" class="h2 post-title">{% if cutEntry && entry.cutTitle %}{{ entry.cutTitle }}{% else %}{{ entry.title }}{% endif %}</a>
    
        <div>{% if cutEntry && entry.cutContent %}{{ entry.cutContent|safe }}{% else %}{{ entry.content|safe }}{% endif %}</div>
        
        <div class="post-additional-info inline-items" data-id="{{ entry.id }}" data-vote="{{ entry.rating.vote }}">
    
            {% if entry.privacy == "me" %}
                <div class="post-add-icon inline-items" title="Эта запись видна только тебе" data-toggle="tooltip" data-placement="top">
                    <i class="far fa-eye-slash fa-2x"></i>
                </div>
            {% elif entry.rating.isVotable %}

                {% if entry.rating.vote == "ban" %}<div{% else %}<a href="#"{% endif %} 
                        class="post-add-icon inline-items post-down"
                        title="{{ entry.rating.downCount|default:0 }} против, {{ entry.rating.upCount|default:0 }} за. 
Рейтинг: {{ entry.rating.rating|floatformat:0|default:0 }}">
                    <i class="{% if entry.rating.vote == "neg" || entry.rating.vote == "ban" %}fas{% else %}far{% endif %} fa-thumbs-down fa-2x"></i>
                {% if entry.rating.vote == "ban" %}</div>{% else %}</a>{% endif %}

                <span class="post-rating" title="{{ entry.rating.downCount|default:0 }} против, {{ entry.rating.upCount|default:0 }} за. 
Рейтинг: {{ entry.rating.rating|floatformat:0|default:0 }}">{{ entry.rating.upCount|default:0 - entry.rating.downCount|default:0 }}</span>

                {% if entry.rating.vote == "ban" %}<div{% else %}<a href="#"{% endif %} 
                        class="post-add-icon inline-items post-up"
                        title="{{ entry.rating.downCount|default:0 }} против, {{ entry.rating.upCount|default:0 }} за. 
Рейтинг: {{ entry.rating.rating|floatformat:0|default:0 }}">
                    <i class="{% if entry.rating.vote == "pos" || entry.rating.vote == "ban" %}fas{% else %}far{% endif %} fa-thumbs-up fa-2x"></i>
                {% if entry.rating.vote == "ban" %}</div>{% else %}</a>{% endif %}

            {% endif %}
    
            <a href="/entries/{{ entry.id }}#comments" class="post-add-icon inline-items">
                <svg class="olymp-speech-balloon-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
                <span>{{ entry.commentCount|default:0 }}</span>
            </a>
    
        </div>
    </article>
    {% block comments %}{% endblock comments %}
</div>
