{% extends "base.html" %}
{% block title %}Ошибка {{ code|default:500 }} — Mindwell{% endblock %}
{% block body_class %}class="body-bg-white"{% endblock %}
{% block header %}
	<div class="stunning-header bg-primary-opacity">
		
		<div class="header--standard header--standard-landing" id="header--standard">
			<div class="container">
				<div class="header--standard-wrap">
		
					<a href="/" class="logo">
						<div class="img-wrap">
							<img src="/assets/olympus/img/logo-mindwell.png" width="200" alt="Mindwell">
							<!-- <img src="/assets/olympus/img/logo-colored-small.png" alt="Olympus" class="logo-colored"> -->
						</div>
						<div class="title-block">
							<h6 class="logo-title">mindwell</h6>
							<div class="sub-title">ДОМ МЫСЛЕЙ</div>
						</div>
					</a>
		
				</div>
			</div>
		</div>
		
		<div class="header-spacer--standard"></div>

		<div class="stunning-header-content">
			<h1 class="stunning-header-title">Ошибка {{ code|default:500 }}</h1>
		</div>

		<div class="content-bg-wrap stunning-header-bg1"></div>
	</div>
{% endblock %}
{% block body %}
	<section class="medium-padding120">
		<div class="container">
			<div class="row">
				<div class="col col-xl-6 m-auto col-lg-6 col-md-12 col-sm-12 col-12">
					<div class="page-404-content">
						<img src="/assets/olympus/img/404.png" alt="photo">
						<div class="crumina-module crumina-heading align-center">
							<h2 class="h1 heading-title">Появляется <span class="c-primary">дикий призрак</span>! 
								Сожалеем, но это не то, что ты ожидаешь увидеть…</h2>
							<p class="heading-text">{{ message|default:"Кажется, что-то пошло не так…" }}</p>
						</div>

						<a id="back-button" href="#" class="btn btn-primary btn-lg">Вернуться назад</a>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block scripts %}
	<script>
		$("#back-button").click(function() {
			window.history.back()
			return false
		})
	</script>
{% endblock %}
