{% extends "base.html" %}
{% block title %}ЧаВо — Mindwell{% endblock %}
{% block header %}
    <div class="stunning-header bg-primary-opacity">
		
		<div class="header--standard header--standard-landing" id="header--standard">
			<div class="container">
				<div class="header--standard-wrap">
		
					<a href="/" class="logo">
						<div class="img-wrap">
							<img src="/assets/icons/header-white.png" width="42" height="45" alt="Mindwell">
						</div>
						<div class="title-block">
							<h6 class="logo-title">mindwell</h6>
							<div class="sub-title">ДОМ МЫСЛЕЙ</div>
						</div>
					</a>
		
				</div>
			</div>
		</div>
		
		<div class="header-spacer--standard"></div>

		<div class="stunning-header-content">
            <h1 class="stunning-header-title">Часто задаваемые вопросы</h1>
		</div>

		<div class="content-bg-wrap stunning-header-bg1"></div>
	</div>
{% endblock %}
{% block body_class %}class="body-bg-white"{% endblock %}
{% block body %}
<section class="medium-padding120">
        <div class="container">
            <div class="row">

                <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="help-support-block">
                        <a href="/help/faq/votes" ><h3 class="title">Голосование и рейтинги<span class="total-topic">6</span></h3></a>
                        <ul class="help-support-list">
                            <li>
                                <svg class="olymp-blog-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
                                <a href="/help/faq/votes#heading-best">По какому принципу посты отбираются в раздел Лучшее?</a>
                            </li>
                            <li>
                                <svg class="olymp-blog-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
                                <a href="/help/faq/votes#heading-vote">Как посмотреть, кто проголосовал за мой пост?</a>
                            </li>
                            <li>
                                <svg class="olymp-blog-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
                                <a href="/help/faq/votes#heading-rank">Что такое рейтинг тлогов?</a>
                            </li>
                            <li>
                                <svg class="olymp-blog-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
                                <a href="/help/faq/votes#heading-invite">Как пригласить на сайт своего друга?</a>
                            </li>
                            <li>
                                <svg class="olymp-blog-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
                                <a href="/help/faq/votes#heading-inlive">Почему я не могу опубликовать запись в Прямой эфир?</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="help-support-block">
                            <a href="/help/faq/md" ><h3 class="title">Форматирование постов<span class="total-topic">11</span></h3></a>
                            <ul class="help-support-list">
                                <li>
                                    <svg class="olymp-blog-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
                                    <a href="/help/faq/md#heading-italic">Как выделить текст <em>курсивом</em>?</a>
                                </li>
                                <li>
                                    <svg class="olymp-blog-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
                                    <a href="/help/faq/md#heading-list">Как вставить список?</a>
                                </li>
                                <li>
                                    <svg class="olymp-blog-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
                                    <a href="/help/faq/md#heading-link">Как вставить ссылку?</a>
                                </li>
                                <li>
                                    <svg class="olymp-blog-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
                                    <a href="/help/faq/md#heading-img">Как вставить картинку?</a>
                                </li>
                                <li>
                                    <svg class="olymp-blog-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
                                    <a href="/help/faq/md#heading-img">Можно ли вставить видео?</a>
                                </li>
                            </ul>
                        </div>
                    </div>
    
                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <p>
                        Не удалось найти ответ на свой вопрос? Задай его нам по почте <a href="mailto:support@mindwell.win">support@mindwell.win</a>
                        или заходи в наш чат в Телеграм: <a href="https://t.me/mindwell">https://t.me/mindwell</a>.
                    </p>
                </div>

            </div>
        </div>
    </section>    
{% endblock %}
