{% extends "base.html" %}
{% block title %}Вопросы по госованию и карме — Mindwell{% endblock %}
{% block header %}
    <div class="stunning-header bg-primary-opacity">
		
		<div class="header--standard header--standard-landing" id="header--standard">
			<div class="container">
				<div class="header--standard-wrap">
		
					<a href="/" class="logo">
						<div class="img-wrap">
							<img src="/assets/icons/header-white.png" width="42" height="45" alt="Mindwell">
						</div>
						<div class="title-block">
							<h6 class="logo-title">mindwell</h6>
							<div class="sub-title">ДОМ МЫСЛЕЙ</div>
						</div>
					</a>
		
				</div>
			</div>
		</div>
		
		<div class="header-spacer--standard"></div>

		<div class="stunning-header-content">
            <h1 class="stunning-header-title">Вопросы по голосованию и карме</h1>
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item">
                    <a href="/help/faq/">ЧаВо</a>
                    <span class="icon breadcrumbs-custom">/</span>
                </li>
                <li class="breadcrumbs-item active">
                    <span>Голосование</span>
                </li>
            </ul>
		</div>

		<div class="content-bg-wrap stunning-header-bg1"></div>
	</div>
{% endblock %}
{% block body_class %}class="body-bg-white"{% endblock %}
{% block body %}
    <section class="mb60">
        <div class="container">
            <div class="row">
                <div class="col col-xl-8 m-auto col-lg-10 col-md-12 col-sm-12 col-12">
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="accordion-faqs">
                        <div class="card">

                            <div class="card-header" role="tab" id="heading-best">
                                <h3 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-best" aria-expanded="true" aria-controls="collapse-best" class="collapsed">
                                        По какому принципу посты отбираются в раздел Лучшее? 
                                        <span class="icons-wrap">
                                            <svg class="olymp-plus-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
                                            <svg class="olymp-accordion-close-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-accordion-close-icon"></use></svg>
                                        </span>
                                    </a>
                                </h3>
                            </div>
                    
                            <div id="collapse-best" class="collapse" role="tabpanel" aria-labelledby="heading-best">
                                <p>
                                    В Лучшее попадают посты с самыми высокими рейтингами. Рейтинг поста показывается при наведении 
                                    мышкой на голосовалку. При этом у записи с большим количеством положительных голосов рейтинг 
                                    может быть ниже, чем у записи с меньшим числом голосов. 
                                </p>
                            </div>
                    
                            <div class="card-header" role="tab" id="heading-rating">
                                <h3 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-rating" aria-expanded="true" aria-controls="collapse-rating" class="collapsed">
                                        Как рассчитываются рейтинги постов? 
                                        <span class="icons-wrap">
                                            <svg class="olymp-plus-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
                                            <svg class="olymp-accordion-close-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-accordion-close-icon"></use></svg>
                                        </span>
                                    </a>
                                </h3>
                            </div>
                    
                            <div id="collapse-rating" class="collapse" role="tabpanel" aria-labelledby="heading-rating">
                                <p>
                                    Все посты автоматически разделяются на несколько категорий. Длинный пост с текстом — одна категория, 
                                    пост с фотографиями — другая, короткая записка — третья. Отдельная категория — комментарии.
                                </p>
                                <p>
                                    Каждый пользователь имеет свой вес в каждой категории. Вес определяется тем, насколько хорошие посты 
                                    в этой категории публикует человек. Изначально после регистрации все веса близки к нулю. Каждый раз, 
                                    когда за пост голосуют, вес человека в данной категории увеличивается или наоборот падает.
                                </p>
                                <p>
                                    Вес — это то, как сильно голоса человека влияет на рейтинги чужих постов. Сразу после регистрации 
                                    влияние минимально. Если человек публикует хорошие посты, которые нравятся другим, влияние его голосов 
                                    в данной категории растет.
                                </p>
                            </div>
                    
                            <div class="card-header" role="tab" id="heading-vote">
                                <h3 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-vote" aria-expanded="true" aria-controls="collapse-vote" class="collapsed">
                                        Как посмотреть, кто проголосовал за мой пост? 
                                        <span class="icons-wrap">
                                            <svg class="olymp-plus-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
                                            <svg class="olymp-accordion-close-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-accordion-close-icon"></use></svg>
                                        </span>
                                    </a>
                                </h3>
                            </div>
                    
                            <div id="collapse-vote" class="collapse" role="tabpanel" aria-labelledby="heading-vote">
                                <p>
                                    Голосование планируется оставить анонимным. Это позволит избежать накруток, когда человек голосует 
                                    за все посты подряд в ожидании ответных лайков. И с обратной стороны — если человек опубликовал что-то 
                                    непотребное, можно спокойно ставить ему минус, не боясь, что он заминусует в ответ.
                                </p>
                            </div>
                    
                            <div class="card-header" role="tab" id="heading-rank">
                                <h3 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-rank" aria-expanded="true" aria-controls="collapse-rank" class="collapsed">
                                        Что такое рейтинг тлогов? 
                                        <span class="icons-wrap">
                                            <svg class="olymp-plus-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
                                            <svg class="olymp-accordion-close-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-accordion-close-icon"></use></svg>
                                        </span>
                                    </a>
                                </h3>
                            </div>
                    
                            <div id="collapse-rank" class="collapse" role="tabpanel" aria-labelledby="heading-rank">
                                <p>
                                    Место в рейтинге тлогов показывает суммарный рейтинг постов и комментариев пользователя за последние 
                                    два месяца. Чем больше хороших постов человек опубликовал по сравнению с другими, тем выше его тлог 
                                    поднимается в рейтинге. Он пересчитывается раз в сутки. Голоса с низким весом при этом не учитываются.
                                </p>
                                <p>
                                    По рейтингу составляется текущий топ тлогов. Он всегда будет актуален. Если человек перестает писать, 
                                    его рейтинг падает, и он вылетает из топа. Если новенький публикует то, что всем нравится, он может 
                                    попасть в этот топ.
                                </p>
                                <p>
                                    Если из-за отрицательных голосов человек опускается на последние места в рейтинге, он может быть 
                                    автоматически забанен. Это означает, что он больше не сможет публиковать записи в прямой эфир 
                                    и в анонимки. Чтобы снова получить такую возможность, ему необходимо написать несколько хороших постов
                                    в свой тлог.
                                </p>
                            </div>
                    
                            <div class="card-header" role="tab" id="heading-invite">
                                <h3 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-invite" aria-expanded="true" aria-controls="collapse-invite" class="collapsed">
                                        Как пригласить на сайт своего друга? 
                                        <span class="icons-wrap">
                                            <svg class="olymp-plus-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
                                            <svg class="olymp-accordion-close-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-accordion-close-icon"></use></svg>
                                        </span>
                                    </a>
                                </h3>
                            </div>
                    
                            <div id="collapse-invite" class="collapse" role="tabpanel" aria-labelledby="heading-invite">
                                <p>
                                    Нужно отправить ему приглашение. Пользователь получает свое первое приглашение после того, как опубликует
                                    десять постов с положительным рейтингом. Голоса от пригласившего его человека при этом не учитываются.
                                </p>
                                <p>
                                    Далее приглашения выдаются раз в неделю людям в верхней половине рейтинга, считая только тех, кто 
                                    за последние два месяца опубликовал хотя бы одну хорошую запись или комментарий.
                                </p>
                            </div>
                    
                            <div class="card-header" role="tab" id="heading-inlive">
                                <h3 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-inlive" aria-expanded="true" aria-controls="collapse-inlive" class="collapsed">
                                        Почему я не могу опубликовать запись в Прямой эфир?
                                        <span class="icons-wrap">
                                            <svg class="olymp-plus-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
                                            <svg class="olymp-accordion-close-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-accordion-close-icon"></use></svg>
                                        </span>
                                    </a>
                                </h3>
                            </div>
                    
                            <div id="collapse-inlive" class="collapse" role="tabpanel" aria-labelledby="heading-inlive">
                                <p>
                                    Недавно зарегистрированные пользователи могут отправлять в Прямой эфир только одну запись в сутки. Это сделано 
                                    для того, чтобы его было интереснее читать. Чтобы люди не отправляли туда абсолютно все свои заметки, 
                                    не флудили. Чтобы выбирали только то, что им кажется более ценным, что может быть полезным или интересным 
                                    посторонним или где они хотят получить больше отклика.
                                </p>
                                <p>
                                    Никаких ограничений на число постов в своем личном тлоге нет и не планируется. Можно публиковать, сколько 
                                    хочется. Люди, которым нравится читать ваши записи, могут подписаться на тлог и следить за новыми постами 
                                    через свои подписки.
                                </p>
                                <p>
                                    Если люди считают ваш тлог интересным и подписываются на него, вы можете публиковать в Прямой эфир чаще.
                                    Если у вас менее трех подписчиков, вы можете отправлять в Прямой эфир один пост в сутки. От трех до девяти 
                                    подписчиков — два поста в сутки. От десяти до сорока девяти — три поста в сутки. И от пятидесяти — неограниченно. 
                                </p>
                                <p>
                                    Также вас могут забанить из-за отрицательных голосов за ваши записи и комментарии. В таком случае необходимо
                                    написать несколько хороших постов в свой тлог, суммарный рейтинг которых перевесит полученные минусы. Впредь
                                    постарайтесь вести себя правильно. 
                                </p>
                            </div>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
