<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Mindwell{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/assets/feed.css">
        {% block styles %}{% endblock %}
        <script>
            function logout() {
                document.cookie = 'api_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;'
            }
            function vote(id, positive) {
                var req = new XMLHttpRequest()
                req.open('PUT', '/entries/' + id + '/vote?positive=' + positive, true)
                req.onreadystatechange = updateRating
                req.send()

                var post = document.getElementById('post' + id)
                var up = post.getElementsByClassName('up_vote').item(0)
                var down = post.getElementsByClassName('down_vote').item(0)
                up.disabled = down.disabled = true

                function updateRating() {
                    if(req.readyState != XMLHttpRequest.DONE)
                        return

                    var resp = JSON.parse(req.responseText)
                    if(req.status != 200) {
                        alert(resp.message)
                        status = post.data.vote
                        up.disabled = (status == 'pos')
                        down.disabled = (status == 'neg')
                        return
                    }

                    up.disabled = positive
                    down.disabled = !positive

                    var rating = post.getElementsByClassName('rating').item(0)
                    var count = (resp.rating || 0)
                    rating.innerHTML = (count > 0 ? '+' + count : count)
                }
            }
        </script>
    </head>
    <body>
        <a href="/me">{{ me.showName }}</a>
        <a href="/live">Прямой эфир</a>
        <a href="/post">Новая запись</a>
        <a href="/index.html" onclick="logout()">Выйти</a>
        {% block heading %}{% endblock %}
        {% for entry in entries %}
            <h2>{{ entry.createdAt }}</h2>
            <div class="post" id="post{{entry.id}}" data-vote="{{ entry.vote }}">
                <h2>{{ entry.title }}</h2>
                {{ entry.content|safe }}
                <div class="footer">
                    {% if entry.isVotable %}
                        <button class="down_vote" onclick="vote({{ entry.id }}, false)" 
                            {% if entry.vote == "neg" || entry.vote == "my" %}disabled{% endif %}>-</button>
                        <span class="rating">{% if entry.rating > 0 %}+{% endif %}{{ entry.rating|default: 0 }}</span>
                        <button class="up_vote" onclick="vote({{ entry.id }}, true)" 
                            {% if entry.vote == "pos" || entry.vote == "my" %}disabled{% endif %}>+</button>
                    {% endif %}
                    {% if entry.commentCount %}
                        <span class="comments_count">{{ entry.commentCount }} комм.</span>
                    {% endif %}
                    <a href="/users/{{ entry.author.name }}" class="author">{{ entry.author.showName }}</a>
                </div>
                {% if entry.commentsCount %}
                    <p class="comments">
                        {% for comment in comments %}
                            <p class="comment">
                                <a class="comment_author" href="/users/{{ comment.author.name }}">
                                    {{ comment.author.showName }}
                                </a>: comment.content
                            </p>
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        {% empty %}
            <h3>Нет записей</h3>
        {% endfor %}
    </body>
</html>
