{% extends "base.html" %}
{% block title %}Mindwell — дом мыслей{% endblock %}
{% block body_class %}class="landing-page"{% endblock %}
{% block header %}
	<div class="content-bg-wrap"></div>

	<div class="header--standard header--standard-landing" id="header--standard">
		<div class="container">
			<div class="header--standard-wrap">

				<a href="#" class="logo">
					<div class="img-wrap">
						<img src="/assets/icons/header-white.png" width="42" height="45" alt="Mindwell">
					</div>
					<div class="title-block">
						<h6 class="logo-title">mindwell</h6>
						<div class="sub-title">ДОМ МЫСЛЕЙ</div>
					</div>
				</a>

			</div>
		</div>
	</div>

	<div class="header-spacer--standard"></div>
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row display-flex">
			<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
				<div class="landing-content">
					<h1>Место для твоих мыслей</h1>
					<p>Добро пожаловать на сайт Mindwell. Здесь ты можешь вести свой дневник, 
						делиться переживаниями, рассказывать истории и общаться с другими людьми. Присоединяйся!</p>
				</div>
			</div>

			<div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">
				
				<div class="registration-login-form">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#login" role="tab">
								<svg class="olymp-login-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-login-icon"></use></svg>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#register" role="tab">
								<svg class="olymp-register-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-register-icon"></use></svg>
							</a>
						</li>
					</ul>
				
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" id="login" role="tabpanel" data-mh="log-tab">
							<div class="title h6">Войти в аккаунт</div>
							<form class="content" action="/account/login" method="post">
								<div class="row">
									<div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
										<div class="form-group label-floating is-empty">
											<label class="control-label">Логин или почта</label>
											<input class="form-control" maxlength="20" type="text" name="name" required>
										</div>
										<div class="form-group label-floating is-empty">
											<label class="control-label">Пароль</label>
											<input class="form-control" type="password" name="password" required>
										</div>

										<input class="btn btn-lg btn-primary full-width" type="submit" value="Войти" />
				
										<div class="remember">
											<a href="#" class="forgot" data-toggle="modal" data-target="#recover">Не получается войти</a>
										</div>
									</div>
								</div>
							</form>
						</div>

						<div class="tab-pane" id="register" role="tabpanel" data-mh="log-tab">
							<div class="title h6">Зарегистрироваться</div>
							<form class="content" name="register" action="/account/register" method="post">
								<div class="row">
									<div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
										<div class="form-group label-floating is-empty">
											<label class="control-label">Логин</label>
											<input class="form-control" maxlength="20" pattern="[-_0-9a-zA-Z]+" title="Разрешены латинские буквы, цифры, дефис и нижнее подчеркивание" data-toggle="tooltip" data-placement="top" name="name" type="text" required />
										</div>
										<div class="form-group label-floating is-empty">
											<select class="selectpicker form-control" name="gender">
												<option value="not set" selected>Пол не указан</option>
												<option value="female">Я девушка</option>
												<option value="male">Я парень</option>
											</select>
										</div>
										<div class="form-group label-floating is-empty">
											<label class="control-label">Адрес почты</label>
											<input class="form-control" name="email" type="email" required />
										</div>
										<div class="form-group label-floating is-empty">
											<label class="control-label">Пароль</label>
											<input class="form-control" title="Не менее 6 символов" data-toggle="tooltip" data-placement="top" name="password" type="password" required />
										</div>
										<div class="form-group label-floating is-empty">
											<label class="control-label">Приглашение</label>
											<input class="form-control" title="Три слова через пробел" data-toggle="tooltip" data-placement="top" maxlength="100" name="invite" type="text" required />
										</div>
				
										<input type ="submit" value ="Зарегистрироваться" class="btn btn-purple btn-lg full-width" />
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<div class="modal fade" id="recover" tabindex="-1" role="dialog" aria-labelledby="recover" aria-hidden="true">
		<div class="modal-dialog window-popup edit-widget modal-dialog-centered" role="document">
			<div class="modal-content">

				<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Закрыть">
					<svg class="olymp-close-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
				</a>

				<div class="modal-header">
					<h6 class="title">Сбросить пароль</h6>
				</div>

				<div class="modal-body">
					<p>На данную почту будет отправлено письмо с инструкцией для сброса пароля.</p>
					<form id="recover-email" action="/account/recover" method="POST" enctype="multipart/form-data">
						<input class="form-control" name="email" type="email" required />
						<button id="send-recover" class="btn btn-primary btn-lg full-width">Отправить</button>
					</form>
                    <h6 id="recover-status" role="alert"></h6>
				</div>

			</div>
		</div>
	</div>
{% endblock %}
