<li id="notification{{ ntf.id }}" {% if !ntf.read %}class="un-read"{% endif %}>
    {% if ntf.type == "comment" %}
        <div class="author-thumb">
            <a href="/users/{{ ntf.comment.author.name }}">
                <img class="avatar-x34" src="{{ ntf.comment.author.avatar.x42 }}" alt="{{ ntf.comment.author.showName }}">
            </a>
        </div>
        <div class="notification-event">
            <a href="/users/{{ ntf.comment.author.name }}" class="h6 notification-friend">{{ ntf.comment.author.showName }}</a><br>
            {{ ntf.comment.content|safe }}
            <span class="notification-date">
                <time class="entry-date updated" datetime="{{ ntf.createdAt }}"></time>
                {% if ntf.entry.title || ntf.entry.cutTitle %}
                    к записи <a href="/entries/{{ ntf.entry.id }}#comments" class="notification-action">
                        {% if ntf.entry.cutTitle %}{{ ntf.entry.cutTitle|safe }}{% else %}{{ ntf.entry.title|safe }}{% endif %}
                    </a>.
                {% else %}
                    к <a href="/entries/{{ ntf.entry.id }}#comments" class="notification-action">записи</a>.
                {% endif %}
            </span>
        </div>
        <span class="notification-icon">
            <svg class="olymp-comments-post-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
        </span>
    {% elif ntf.type == "invite" %}
        <div class="author-thumb">
        </div>
        <div class="notification-event">
            У тебя появилось новое приглашение! <a href="/users?top=waiting" class="notification-action">Используй</a> его с умом.
            <span class="notification-date"><time class="entry-date updated" datetime="{{ ntf.createdAt }}"></time></span>
        </div>
        <span class="notification-icon">
            <svg class="olymp-happy-sticker-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-happy-sticker-icon"></use></svg>
        </span>
    {% elif ntf.type == "invited" %}
        <div class="author-thumb">
            <a href="/users/{{ ntf.user.name }}">
                <img class="avatar-x34" src="{{ ntf.user.avatar.x42 }}" alt="{{ ntf.user.showName }}">
            </a>
        </div>
        <div class="notification-event">
            <a href="/users/{{ ntf.user.name }}" class="h6 notification-friend notification-action">{{ ntf.user.showName }}</a><br>
            Получено приглашение на Mindwell. Теперь тебе доступны все функции сайта (при отсутствии других ограничений).
            <span class="notification-date"><time class="entry-date updated" datetime="{{ ntf.createdAt }}"></time></span>
        </div>
        <span class="notification-icon">
            <svg class="olymp-happy-sticker-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-happy-sticker-icon"></use></svg>
        </span>
    {% elif ntf.type == "adm_sent" %}
        <div class="author-thumb">
        </div>
        <div class="notification-event">
            Твой Дед Мороз отправил тебе подарок! Когда получишь, не забудь 
            <a href="/adm" class="notification-action">поставить нужный флажок</a>. И не открывай до Нового года.
            <span class="notification-date"><time class="entry-date updated" datetime="{{ ntf.createdAt }}"></time></span>
        </div>
        <span class="notification-icon">
            <svg class="olymp-cupcake-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-cupcake-icon"></use></svg>
        </span>
    {% elif ntf.type == "adm_received" %}
        <div class="author-thumb">
        </div>
        <div class="notification-event">
            Внук <a href="/adm" class="notification-action">получил</a> твой новогодний подарок.
            <span class="notification-date"><time class="entry-date updated" datetime="{{ ntf.createdAt }}"></time></span>
        </div>
        <span class="notification-icon">
            <svg class="olymp-cupcake-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-cupcake-icon"></use></svg>
        </span>
    {% else %}
        <div class="author-thumb">
            <a href="/users/{{ ntf.user.name }}">
                <img class="avatar-x34" src="{{ ntf.user.avatar.x42 }}" alt="{{ ntf.user.showName }}">
            </a>
        </div>
        <div class="notification-event">
            {% if ntf.type == "follower" %}
                <a href="/users/{{ ntf.user.name }}" class="h6 notification-friend notification-action">{{ ntf.user.showName }}</a>
                теперь следит за твоим тлогом.
            {% elif ntf.type == "request" %}
                <a href="/users/{{ ntf.user.name }}" class="h6 notification-friend notification-action">{{ ntf.user.showName }}</a>
                просит разрешения на чтение твоего тлога.
            {% elif ntf.type == "accept" %}
                Теперь ты можешь читать записи из тлога  
                <a href="/users/{{ ntf.user.name }}" class="h6 notification-friend notification-action">{{ ntf.user.showName }}</a>.
            {% elif ntf.type == "welcome" %}
                <a href="/users/{{ ntf.user.name }}" class="h6 notification-friend notification-action">{{ ntf.user.showName }}</a><br>
                Твое приглашение использовано. 
            {% endif %}
            <span class="notification-date"><time class="entry-date updated" datetime="{{ ntf.createdAt }}"></time></span>
        </div>
        <span class="notification-icon">
            <svg class="olymp-happy-face-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
        </span>
    {% endif %}
</li>
