{% extends "settings.html" %}
{% block page %}
    <div class="ui-block-title">
        <h6 class="title">Смена пароля</h6>
    </div>

    <div class="ui-block-content">
        <form id="change-password" action="/account/password" method="post" enctype="multipart/form-data">
            <div class="row">
        
                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group label-floating">
                        <label class="control-label">Старый пароль</label>
                        <input class="form-control" type="password" name="old_password" required>
                    </div>
                </div>
        
                <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label">Новый пароль</label>
                        <input class="form-control new-password" type="password" name="new_password" required>
                    </div>
                </div>
        
                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 id="password-status" role="alert"></h6>
                </div>

                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <button id="save-password" class="btn btn-primary btn-lg full-width">Сохранить</button>
                </div>
        
            </div>
        </form>
    </div>
{% endblock page %}
{% block scripts %}
    <script src="/assets/password.js?d=20180701"></script>
{% endblock %}
