{% extends "base.html" %}
{% block title %}{{ profile.showName }} в Mindwell{% endblock %}
{% block scripts %}
    <script src="/assets/feed.js"></script>
    <script src="/assets/tlog.js"></script>
{% endblock %}
{% block heading %}
<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="top-header">
					<div class="top-header-thumb">
						<img src="{{ profile.cover.x1920 }}" alt="cover" width="1920" height="640">
					</div>
					<div class="profile-section">
						<div class="row">
							<div class="col col-lg-5 col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
									<li>
										<a href="/users/{{ profile.name }}" class="active">Тлог</a>
									</li>
								</ul>
							</div>
							<div class="col col-lg-5 ml-auto col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
                                    {% if profile.counts.followings %}
                                        <li>
                                            <a href="/users/{{ profile.name }}/followings">Подписки</a>
                                        </li>
                                    {% endif %}
                                    {% if profile.counts.followers %}
                                        <li>
                                            <a href="/users/{{ profile.name }}/followers">Подписчики</a>
                                        </li>
                                    {% endif %}
                                    {% if profile.counts.invited %}
                                        <li>
                                            <a href="/users/{{ profile.name }}/invited">Приглашенные</a>
                                        </li>
                                    {% endif %}
								</ul>
							</div>
						</div>

						<div class="control-block-button">
                            {% if me.id != profile.id %}
                                <a href="35-YourAccount-FriendsRequests.html" class="btn btn-control bg-blue">
                                    <svg class="olymp-happy-face-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
                                </a>
                            {% endif %}

                            {% if me.id == profile.id %}
                                <div class="btn btn-control bg-primary more">
                                    <svg class="olymp-settings-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-settings-icon"></use></svg>

                                    <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#update-avatar">Обновить аватар</a>
                                        </li>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#update-cover">Обновить обложку</a>
                                        </li>
                                        <li>
                                            <a href="/profile/edit">Редактировать</a>
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
						</div>
					</div>
					<div class="top-header-author">
						<a href="/users/{{ profile.name }}" class="author-thumb">
							<img src="{{ profile.avatar.x124 }}" alt="{{ profile.showName }}" width="124" height="124">
						</a>
						<div class="author-content">
							<a href="/users/{{ profile.name }}" class="h4 author-name">{{ profile.showName }}</a>
							<div class="country">
                                {% if profile.isOnline %}
                                    Онлайн
                                {% else %}
                                    Был{% if profile.gender == "female" %}а{% endif %} в сети <time class="lcase" datetime="{{ profile.lastSeenAt }}">{{ profile.lastSeenAt|floatformat:0 }}</time>
                                {% endif %}
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% comment %} 
    {% if me.id == profile.id %}
        <form id="avatar-editor" action="/profile/avatar" method="post" enctype="multipart/form-data">
            <input name="file" type="file" accept="image/*" required>
            <input type="submit" value="Отправить" />
        </form>
    {% endif %}
    {% if me.id != profile.id %}
        <p>
            <button type="button" id="permit_rel" onclick="permitFriend({{ profile.id }})" {% if profile.relations.toMe != "requested" %}hidden{% endif %}>Принять заявку</button>
            <button type="button" id="cancel_rel" onclick="cancelFriend({{ profile.id }})" {% if profile.relations.toMe != "requested" && profile.relations.toMe != "followed" || me.privacy == "all" %}hidden{% endif %}>
                    {% if profile.relations.toMe == "followed" %}Отписать{% elif profile.relations.toMe == "requested" %}Отклонить заявку{% endif %}</button>
            <span id="followed_rel" {% if profile.relations.toMe != "followed" %}hidden{% endif %}>Подписан на вас</span>
            <span id="ignored_rel" {% if profile.relations.toMe != "ignored" %}hidden{% endif %}>Вы в черном списке</span>
            <span id="none_rel" {% if profile.relations.toMe != "none" %}hidden{% endif %}>Не подписан на вас</span>

            <button type="button" id="follow" onclick="followUser({{ profile.id }}, '{{ profile.privacy }}', '{{ profile.relations.toMe }}')" {% if profile.relations.fromMe != "none" || profile.relations.toMe == "ignored" %}hidden{% endif %}>
                {% if profile.privacy == "all" %}Подписаться{% else %}Отправить заявку{% endif %}</button>
            <button type="button" id="ignore" onclick="ignoreUser({{ profile.id }}, '{{ profile.privacy }}', '{{ profile.relations.toMe }}')" {% if profile.relations.fromMe != "none" %}hidden{% endif %}>Заблокировать</button>
            <button type="button" id="unfollow" onclick="unfollowUser({{ profile.id }}, '{{ profile.privacy }}', '{{ profile.relations.toMe }}')" {% if profile.relations.fromMe == "none" %}hidden{% endif %}>
                    {% if profile.relations.fromMe == "followed" %}
                        Отписаться
                    {% elif profile.relations.fromMe == "requested" %}
                        Отменить заявку
                    {% elif profile.relations.fromMe == "ignored" %}
                        Разблокировать
                    {% endif %}
            </button>
        </p>
    {% endif %}
{% endcomment %}
{% endblock %}
{% block body %}

{% block content %}{% endblock %}

<div class="modal fade" id="update-avatar" tabindex="-1" role="dialog" aria-labelledby="update-avatar" aria-hidden="true">
	<div class="modal-dialog window-popup edit-widget" role="document">
		<div class="modal-content">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Закрыть">
				<svg class="olymp-close-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
			</a>

			<div class="modal-header">
				<h6 class="title">Загрузить новый аватар</h6>
            </div>

			<div class="modal-body">
                <form id="avatar-editor" action="/profile/avatar" method="post" enctype="multipart/form-data">
                    <div class="file-upload">
                        <label for="avatar-file" class="file-upload__label">Выбрать файл</label>
                        <input id="avatar-file" class="file-upload__input" type="file" name="file" accept="image/jpeg, image/png, image/gif" required>
                    </div>
                    <p>Поддерживаются JPEG, PNG, GIF размером не&nbsp;более 10&nbsp;Мб.</p>
                    <input type="submit" class="btn btn-primary btn-lg full-width" value="Загрузить" />
                </form>

		    </div>
		</div>

	</div>
</div>

<div class="modal fade" id="update-cover" tabindex="-1" role="dialog" aria-labelledby="update-cover" aria-hidden="true">
	<div class="modal-dialog window-popup edit-widget" role="document">
		<div class="modal-content">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Закрыть">
				<svg class="olymp-close-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
			</a>

			<div class="modal-header">
				<h6 class="title">Загрузить новую обложку профиля</h6>
            </div>

			<div class="modal-body">
                <form id="cover-editor" action="/profile/cover" method="post" enctype="multipart/form-data">
                    <div class="file-upload">
                        <label for="cover-file" class="file-upload__label">Выбрать файл</label>
                        <input id="cover-file" class="file-upload__input" type="file" name="file" accept="image/jpeg, image/png, image/gif" required>
                    </div>
                    <p>Поддерживаются JPEG, PNG, GIF размером не&nbsp;более 10&nbsp;Мб.</p>
                    <input type="submit" class="btn btn-primary btn-lg full-width" value="Загрузить" />
                </form>

		    </div>
		</div>

	</div>
</div>

{% endblock %}
