{% extends "base_auth.html" %}
{% block title %}{{ profile.showName }}{% endblock %}
{% block scripts %}
    <script src="//youtube.com/iframe_api"></script>
    <script src="/assets/feed.js?d=20190326"></script>
    <script src="/assets/tlog.js?d=20190113"></script>
{% endblock %}
{% block body %}
<div id="profile" class="container" data-name="{{ profile.name }}" data-privacy="{{ profile.privacy }}" 
        data-rel-to-me="{{ profile.relations.toMe }}" data-rel-from-me="{{ profile.relations.fromMe }}">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="top-header">
					<div class="top-header-thumb">
						<img src="{{ profile.cover.x1920 }}" alt="cover" width="1920" height="640">
					</div>
					<div class="profile-section">
						<div class="row">
							<div class="col col-lg-5 col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
                                    {% if profile.privacy != "followers" || profile.relations.fromMe == "followed" || me.id == profile.id%}
                                        <li>
                                            <a href="/users/{{ profile.name }}" {% if __tlog %}class="active"{% endif %}>Тлог</a>
                                        </li>
                                        {% if profile.counts.favorites %}
                                            <li>
                                                <a href="/users/{{ profile.name }}/favorites" {% if __favorites %}class="active"{% endif %}>Избранное</a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
								</ul>
							</div>
							<div class="col col-lg-5 ml-auto col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
                                    {% if profile.privacy != "followers" || profile.relations.fromMe == "followed" || me.id == profile.id%}
                                        {% if profile.counts.followings %}
                                            <li>
                                                <a href="/users/{{ profile.name }}/relations/followings" {% if relation == "followings" %}class="active"{% endif %}>Подписки</a>
                                            </li>
                                        {% endif %}
                                        {% if profile.counts.followers %}
                                            <li>
                                                <a href="/users/{{ profile.name }}/relations/followers" {% if relation == "followers" %}class="active"{% endif %}>Подписчики</a>
                                            </li>
                                        {% endif %}
                                        {% if profile.counts.invited %}
                                            <li>
                                                <a href="/users/{{ profile.name }}/relations/invited" {% if relation == "invited" %}class="active"{% endif %}>Приглашенные</a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                    {% comment %} {% if me.id != profile.id %}
                                        <div class="more">
											<svg class="olymp-three-dots-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
											<ul class="more-dropdown more-with-triangle">
												<li>
													<a id="blacklist" href="#"></a>
												</li>
											</ul>
										</div>
                                    {% endif %} {% endcomment %}
								</ul>
							</div>
                        </div>
						<div class="control-block-button">
                            {% if me.id == profile.id %}
                                <div class="btn btn-control bg-primary more">
                                    <svg class="olymp-settings-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-settings-icon"></use></svg>

                                    <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#update-avatar">Обновить аватар</a>
                                        </li>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#update-cover">Обновить обложку</a>
                                        </li>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#edit-profile">Редактировать</a>
                                        </li>
                                    </ul>
                                </div>
                            {% else %}
                                <a id="permit-rel" href="#" class="btn btn-control bg-green" title="Принять заявку" hidden>
                                    <svg class="olymp-check-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-check-icon"></use></svg>
                                </a>
                                <a id="cancel-rel" href="#" class="btn btn-control bg-google" title="Отклонить заявку" hidden>
                                    <svg class="olymp-close-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
                                </a>
                                <a id="follow" href="#" class="btn btn-control">
                                    <svg class="olymp-happy-face-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
                                </a>
                            {% endif %}
						</div>
					</div>
					<div class="top-header-author">
						<a href="/users/{{ profile.name }}" class="author-thumb">
							<img src="{{ profile.avatar.x124 }}" alt="{{ profile.showName }}" width="124" height="124">
						</a>
						<div class="author-content">
							<a href="/users/{{ profile.name }}" class="h4 author-name">{{ profile.showName }}</a>
							<div class="country">
                                {% if profile.isOnline %}
                                    Онлайн
                                {% else %}
                                    Заходил{{ profile.gender|gender }} <time class="text-lowercase" datetime="{{ profile.lastSeenAt }}"></time>
                                {% endif %}
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% block content %}{% endblock %}

{% if me.id == profile.id %}
    <div class="modal fade" id="update-avatar" tabindex="-1" role="dialog" aria-labelledby="update-avatar" aria-hidden="true">
        <div class="modal-dialog window-popup edit-widget" role="document">
            <div class="modal-content">
                <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Закрыть">
                    <svg class="olymp-close-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
                </a>

                <div class="modal-header">
                    <h6 class="title">Загрузить новый аватар</h6>
                </div>

                <div class="modal-body">
                    <form id="avatar-editor" action="/profile/avatar" method="post" enctype="multipart/form-data">
                        <div class="file-upload">
                            <label for="avatar-file" class="btn btn-primary btn-sm">Выбрать файл</label>
                            <label class="control-label"></label>
                            <input id="avatar-file" class="file-upload__input" type="file" name="file" 
                                data-max-size="10" accept="image/jpeg, image/png, image/gif" required>
                        </div>
                        <p>Поддерживаются JPEG, PNG, GIF размером не&nbsp;более 10&nbsp;Мб.</p>
                        <input type="submit" class="btn btn-primary btn-lg full-width" value="Загрузить" />
                    </form>

                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="update-cover" tabindex="-1" role="dialog" aria-labelledby="update-cover" aria-hidden="true">
        <div class="modal-dialog window-popup edit-widget" role="document">
            <div class="modal-content">
                <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Закрыть">
                    <svg class="olymp-close-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
                </a>

                <div class="modal-header">
                    <h6 class="title">Загрузить новую обложку профиля</h6>
                </div>

                <div class="modal-body">
                    <form id="cover-editor" action="/profile/cover" method="post" enctype="multipart/form-data">
                        <div class="file-upload">
                            <label for="cover-file" class="btn btn-primary btn-sm">Выбрать файл</label>
                            <label class="control-label"></label>
                            <input id="cover-file" class="file-upload__input" type="file" name="file" 
                                data-max-size="10" accept="image/jpeg, image/png, image/gif" required>
                        </div>
                        <p>Поддерживаются JPEG, PNG, GIF размером не&nbsp;более 10&nbsp;Мб.</p>
                        <input type="submit" class="btn btn-primary btn-lg full-width" value="Загрузить" />
                    </form>

                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="edit-profile" tabindex="-1" role="dialog" aria-labelledby="edit-profile" aria-hidden="true">
        <div class="modal-dialog window-popup edit-widget" role="document">
            <div class="modal-content">
                <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Закрыть">
                    <svg class="olymp-close-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
                </a>

                <div class="modal-header">
                    <h6 class="title">Редактировать профиль</h6>
                </div>

                <div class="modal-body">
                    <form name="profile-editor" action="/profile/save" method="post" enctype="multipart/form-data">

                        <label class="control-label">Краткая информация</label>
                        <textarea class="form-control" maxlength="500" name="title">{{ me.title }}</textarea>

                        <label class="control-label">Имя</label>
                        <input class="form-control" maxlength="20"
                            type="text" name="showName" value="{{ me.showName }}" placeholder="{{ me.name }}" required>

                        <label class="control-label">Пол</label>
                        <select class="selectpicker form-control" name="gender">
                            <option value="not set" {% if me.gender == "not set" %}selected{% endif %}>не указан</option>
                            <option value="female" {% if me.gender == "female" %}selected{% endif %}>женский</option>
                            <option value="male" {% if me.gender == "male" %}selected{% endif %}>мужской</option>
                        </select>

                        <label class="control-label">Приватность тлога</label>
                        <select class="selectpicker form-control" name="privacy">
                            <option value="all" {% if me.privacy == "all" %}selected{% endif %}>открыт для всех</option>
                            <option value="followers" {% if me.privacy == "followers" %}selected{% endif %}>открыт только подписчикам</option>
                        </select>

                        <label class="control-label">Страна</label>
                        <input class="form-control" maxlength="50" type="text" name="country" value="{{ me.country }}">

                        <label class="control-label">Город</label>
                        <input class="form-control" maxlength="50" type="text" name="city" value="{{ me.city }}">

                        {% comment %} <input type="checkbox" name="isDaylog" {% if isDaylog %}checked{% endif %}> Тлогодень<br /> 
                        <input type="checkbox" name="showInTops" {% if showInTops %}checked{% endif %}> Разрешить показывать в топах<br />  {% endcomment %}
                       
                        <input type="submit" class="btn btn-primary btn-lg full-width" value="Сохранить" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}
