{% extends "base.html" %}
{% block title %}Правила сайта{% endblock %}
{% block body_class %}class="body-bg-white"{% endblock %}
{% block header %}
	<div class="stunning-header bg-primary-opacity">
		
		<div class="header--standard header--standard-landing" id="header--standard">
			<div class="container">
				<div class="header--standard-wrap">
		
					<a href="/" class="logo">
						<div class="img-wrap">
							<img src="/assets/icons/header-white.png" width="42" height="45" alt="Mindwell">
						</div>
						<div class="title-block">
							<h6 class="logo-title">mindwell</h6>
							<div class="sub-title">ДОМ МЫСЛЕЙ</div>
						</div>
					</a>
		
				</div>
			</div>
		</div>
		
		<div class="header-spacer--standard"></div>

		<div class="stunning-header-content">
			<h1 class="stunning-header-title">Правила сайта и политика конфиденциальности</h1>
		</div>

		<div class="content-bg-wrap stunning-header-bg1"></div>
	</div>
{% endblock %}
{% block body %}
	<section class="medium-padding120">
		<div class="container">
			<div class="row">
				<div class="col col-xl-6 m-auto col-lg-8 col-md-12 col-sm-12 col-12">
					<div class="help-main-topic">
                        <h1 class="title">Правила сайта</h1>

                        <p>
                            Майндвелл — это платформа для ведения личных дневников и комфортного
                            общения. Будьте вежливы и уважайте друг друга. Будем и впредь 
                            поддерживать на сайте атмосферу дружбы и понимания. Вот, что на сайте 
                            делать не следует.
                        </p>
                        <p>
                            <strong>Для использования сайта необходимо подтвердить свое согласие с данными 
                            правилами.</strong> 
                        </p>

                        <ul>

                            <li>
                                <h3 class="title">Нарушать закон</h3>
                                <p>
                                    Включая публикацию в любом виде экстремистских материалов, склонение к суициду,
                                    разжигание розни и все остальные действия, которые запрещены законом.
                                </p>
                            </li>

                            <li>
                                <h3 class="title">Размещать материалы категории <a href="https://ru.wikipedia.org/wiki/NSFW">NSFW</a></h3>
                                <p>
                                    Сайт ориентирован на пользователей, достигших 16-летнего возраста, но
                                    подтверждение даты рождения не требуется. Люди могут просматривать ваши записи
                                    на работе, на учебе или в общественных местах. Поэтому не следует публиковать
                                    порнографию, фотографии расчлененных тел и другие неприемлемые материалы. 
                                    Изображения в жанре ню и мат желательно ограничить. 
                                </p>
                            </li>

                            <li>
                                <h3 class="title">Продавать свои приглашения или обменивать на что-либо</h3>
                                <p>
                                    Сайт задуман не для коммерческой выгоды. Мы разрабатываем Майндвелл, чтобы 
                                    самим пользоваться им вместе с вами. Мы дорожим сложившейся на сайте атмосферой 
                                    дружбы, понимания и поддержки между большинством пользователей. Продажа
                                    приглашений может все это разрушить. Поэтому приглашения можно только 
                                    безвозмездно дарить. 
                                </p>
                            </li>

                            <li>
                                <h3 class="title">Выдавать приглашения без разбора</h3>
                                <p>
                                    По той же причине не хочется, чтобы на сайте сидели хамы, тролли и просто
                                    токсичные люди. Выдавайте приглашения только своим знакомым, с которыми вам 
                                    приятно общаться, либо людям, чьи посты вам нравятся. Не надо приглашать 
                                    на Майндвелл первого попавшегося человека, просто потому что он просит. 
                                </p>
                            </li>

                            <li>
                                <h3 class="title">Оскорблять других пользователей, троллить, материть</h3>
                                <p>
                                    Относитесь друг к другу с уважением. Мы все взрослые разумные люди. Каждый 
                                    вправе иметь собственное мнение, с которым другие могут не соглашаться. Если 
                                    есть желание высказаться, поспорить — это не воспрещается. Но не переходите 
                                    на личности. 
                                </p>
                            </li>

                            <li>
                                <h3 class="title">Производить любые действия, которые могут нарушить приватность пользователей</h3>
                                <p>
                                    Майндвелл — закрытая платформа. Контент сайта доступен только после регистрации.
                                    Многие тлоги могут быть доступны только определенным людям. Уважайте приватность 
                                    других пользователей. Не делайте скриншоты чужих постов, не копируйте тексты 
                                    на другие ресурсы.
                                </p>
                            </li>

                            <li>
                                <h3 class="title">Рекламировать коммерческий продукт</h3>
                                <p>
                                    Сайт предназначен для ведения личных дневников. Не публикуйте посты и комментарии, 
                                    основная цель которых — привлечение внимания к коммерческому проекту, товару, 
                                    услуге, компании. Исключение: разрешается рекламировать свои личные проекты, но 
                                    не чаще одного раза в месяц.
                                </p>
                            </li>

                            <li>
                                <h3 class="title">Путать Майндвелл с микроблогами</h3>
                                <p>
                                    Публикация в Прямой эфир нужна, когда вы хотите получить какой-то отклик от других 
                                    людей. Не отправляйте туда совсем короткие посты, несущие минимум смысловой 
                                    нагрузки. Подумайте, будет ли понятен и интересен смысл вашего поста постороннему 
                                    человеку? Строгой границы короткого поста не существует, но за ориентир можно 
                                    взять примерно семь слов. Подобные записи лучше оставлять только в своем тлоге. 
                                </p>
                            </li>

                            <li>
                                <h3 class="title">Злоупотреблять возможностями форматирования постов</h3>
                                <p>
                                    Используйте форматирование, чтобы запись было удобнее читать, чтобы лучше донести
                                    свои мысли и ощущения. Но не для привлечения внимания. Не пишите много текста 
                                    крупным или полужирным шрифтом, вообще не используйте заголовки выше третьего 
                                    уровня без крайней необходимости.
                                </p>
                            </li>

                            <li>
                                <h3 class="title">Создавать дополнительные аккаунты с целью накрутки голосов</h3>
                                <p>
                                    Если хочется подняться повыше в рейтинге, пишите интереснее и чаще. Будьте честны.
                                    Пусть сообщество сайта решает, чей тлог заслуживает больше внимания. 
                                </p>
                            </li>

                        </ul>

                        <h1 class="title">Политика конфиденциальности</h1>

                        <ul>

                            <li>
                                <p>
                                    Майндвелл хранит указанные вами адреса электронной почты, аккаунты в Телеграме, 
                                    IP-адреса, с которых использовался сервис, историю посещений и другие данные, 
                                    необходимые для правильной работы. И конечно, на сервере хранятся все ваши посты, 
                                    комментарии, голоса, профили и остальная информация. 
                                </p>
                            </li>

                            <li>
                                <p>
                                    Мы не выдаем персональные данные пользователей третьим лицам кроме случаев, когда 
                                    этого требует закон.
                                </p>
                            </li>

                            <li>
                                <p>
                                    Все данные пользователя могут быть удалены по личному запросу в поддержку сайта 
                                    без возможности их восстановить.
                                </p>
                            </li>

                            <li>
                                <p>
                                    Для сохранения текущих сессий в ваших браузерах используются 
                                    <a href="https://ru.wikipedia.org/wiki/Cookie">файлы куки</a>.
                                </p>
                            </li>

                            <li>
                                <p>
                                    Мы не используем сторонние файлы куки, в том числе счетчики посетителей, такие как
                                    Яндекс.Метрика или Google Analytics.
                                </p>
                            </li>

                        </ul>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
