{% extends "base.html" %}
{% block title %}Ошибка {{ code|default:500 }}{% endblock %}
{% block body_class %}class="body-bg-white"{% endblock %}
{% block body %}
<section class="page-500-content medium-padding120">
    <div class="container">
        <div class="row">
            <div class="col col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                <img src="/assets/olympus/img/500.png" alt="Ошибка {{ code|default:500 }}">
            </div>
            <div class="col col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                <div class="crumina-module crumina-heading">
                    <h1 class="page-500-sup-title">{{ code|default:500 }}</h1>
                    <h2 class="h1 heading-title">{{ message|default:"Произошла внутренняя ошибка" }}</h2>
                    <p class="heading-text">
                        Вероятнее всего, в данный момент на сайте ведутся технические работы.
                        Скоро мы снова вернемся. А пока ждем тебя в
                        <a href="https://t.me/mindwell" target="_blank">нашем Телеграм-чате</a>.
                    </p>
                </div>
                <a id="reload-button" href="#" class="btn btn-primary btn-lg">Попробовать снова</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block base_scripts %}
<script>
    $("#reload-button").click(function() {
        document.location.reload()
        return false
    })
</script>
{% endblock %}
