{% extends "base.html" %}
{% block title %}{{ profile.showName }} в Mindwell{% endblock %}
{% block scripts %}
    <script src="/assets/feed.js"></script>
    <script src="/assets/tlog.js"></script>
{% endblock %}
{% block heading %}
<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="top-header">
					<div class="top-header-thumb">
						<img src="/assets/olympus/img/top-header1.jpg" alt="nature">
					</div>
					<div class="profile-section">
						<div class="row">
							<div class="col col-lg-5 col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
									<li>
										<a href="/users/{{ profile.name }}" class="active">Тлог</a>
									</li>
								</ul>
							</div>
							<div class="col col-lg-5 ml-auto col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
                                    {% if profile.counts.followings %}
                                        <li>
                                            <a href="/users/{{ profile.name }}/followings">Подписки</a>
                                        </li>
                                    {% endif %}
                                    {% if profile.counts.followers %}
                                        <li>
                                            <a href="/users/{{ profile.name }}/followers">Подписчики</a>
                                        </li>
                                    {% endif %}
                                    {% if profile.counts.invited %}
                                        <li>
                                            <a href="/users/{{ profile.name }}/invited">Приглашенные</a>
                                        </li>
                                    {% endif %}
								</ul>
							</div>
						</div>

						<div class="control-block-button">
                            {% if me.id != profile.id %}
                                <a href="35-YourAccount-FriendsRequests.html" class="btn btn-control bg-blue">
                                    <svg class="olymp-happy-face-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
                                </a>
                            {% endif %}

                            {% if me.id == profile.id %}
                                <div class="btn btn-control bg-primary more">
                                    <svg class="olymp-settings-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-settings-icon"></use></svg>

                                    <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#update-header-photo">Обновить аватар</a>
                                        </li>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#update-header-photo">Обновить обложку</a>
                                        </li>
                                        <li>
                                            <a href="/profile/edit">Редактировать</a>
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
						</div>
					</div>
					<div class="top-header-author">
						<a href="/users/{{ profile.name }}" class="author-thumb">
							<img src="{{ profile.avatar.x100 }}" alt="{{ profile.showName }}">
						</a>
						<div class="author-content">
							<a href="/users/{{ profile.name }}" class="h4 author-name">{{ profile.showName }}</a>
							<div class="country">{{ profile.country}}{% if profile.city %}, {{ profile.city }}{% endif %}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% comment %} 
    {% if profile.avatar %}<p><img src="{{ profile.avatar.x400 }}"></p>{% endif %}
    <h1>{{ profile.showName }}</h1>
    {% if profile.title %}<h2>{{ profile.title }}</h2>{% endif %}
    {% if profile.isOnline %}<p>Сейчас онлайн</p>{% endif %}
    <p>Карма: {{ profile.karma|default:0|floatformat:2 }}</p>
    <p>Зарегистрирован <time class="lcase" datetime="{{ profile.createdAt }}"></time></p>
    <p>Последний раз был <time class="lcase" datetime="{{ profile.lastSeenAt }}"></time></p>
    <p>Приглашен пользователем <a href="/users/{{ profile.invitedBy.name }}">{{ profile.invitedBy.showName }}</a></p>
    <p>{{ profile.country}}{% if profile.city %}, {{ profile.city }}{% endif %}</p>
    {% if profile.counts.entries %}<p>Записи: {{ profile.counts.entries }}</p>{% endif %}
    {% if profile.counts.comments %}<p>Комментарии: {{ profile.counts.comments }}</p>{% endif %}
    {% if profile.counts.favorites %}<p>В избранном: {{ profile.counts.favorites }}</p>{% endif %}
    {% if profile.counts.tags %}<p>Теги: {{ profile.counts.tags }}</p>{% endif %}
    {% if profile.counts.followers %}<p><a href="/users/{{ profile.name }}/followers"><p>Подписчики: {{ profile.counts.followers }}</a></p>{% endif %}
    {% if profile.counts.followings %}<p><a href="/users/{{ profile.name }}/followings">Подписки: {{ profile.counts.followings }}</a></p>{% endif %}
    {% if profile.counts.ignored %}<p>{% if me.id == profile.id %}<a href="/me/ignored">{% endif %}
        Заблокировано: {{ profile.counts.ignored }}{% if me.id == profile.id %}</a>{% endif %}</p>{% endif %}
    {% if profile.counts.invited %}<p><a href="/users/{{ profile.name }}/invited">Приглашено: {{ profile.counts.invited }}</a></p>{% endif %}
    {% if me.id == profile.id %}
        <a href="/profile/edit">Редактировать</a> 
        <a href="/design">Дизайн</a>
        <br>
        <form id="avatar-editor" action="/profile/avatar" method="post" enctype="multipart/form-data">
            <input name="file" type="file" accept="image/*" required>
            <input type="submit" value="Отправить" />
        </form>
    {% endif %}
    {% if me.id != profile.id %}
        <p>
            <button type="button" id="permit_rel" onclick="permitFriend({{ profile.id }})" {% if profile.relations.toMe != "requested" %}hidden{% endif %}>Принять заявку</button>
            <button type="button" id="cancel_rel" onclick="cancelFriend({{ profile.id }})" {% if profile.relations.toMe != "requested" && profile.relations.toMe != "followed" || me.privacy == "all" %}hidden{% endif %}>
                    {% if profile.relations.toMe == "followed" %}Отписать{% elif profile.relations.toMe == "requested" %}Отклонить заявку{% endif %}</button>
            <span id="followed_rel" {% if profile.relations.toMe != "followed" %}hidden{% endif %}>Подписан на вас</span>
            <span id="ignored_rel" {% if profile.relations.toMe != "ignored" %}hidden{% endif %}>Вы в черном списке</span>
            <span id="none_rel" {% if profile.relations.toMe != "none" %}hidden{% endif %}>Не подписан на вас</span>

            <button type="button" id="follow" onclick="followUser({{ profile.id }}, '{{ profile.privacy }}', '{{ profile.relations.toMe }}')" {% if profile.relations.fromMe != "none" || profile.relations.toMe == "ignored" %}hidden{% endif %}>
                {% if profile.privacy == "all" %}Подписаться{% else %}Отправить заявку{% endif %}</button>
            <button type="button" id="ignore" onclick="ignoreUser({{ profile.id }}, '{{ profile.privacy }}', '{{ profile.relations.toMe }}')" {% if profile.relations.fromMe != "none" %}hidden{% endif %}>Заблокировать</button>
            <button type="button" id="unfollow" onclick="unfollowUser({{ profile.id }}, '{{ profile.privacy }}', '{{ profile.relations.toMe }}')" {% if profile.relations.fromMe == "none" %}hidden{% endif %}>
                    {% if profile.relations.fromMe == "followed" %}
                        Отписаться
                    {% elif profile.relations.fromMe == "requested" %}
                        Отменить заявку
                    {% elif profile.relations.fromMe == "ignored" %}
                        Разблокировать
                    {% endif %}
            </button>
        </p>
    {% endif %}
{% endcomment %}
{% endblock %}
{% block body %}
<div class="container">
	<div id="feed" class="row">
        {% if entries %}
            {% include "feed_page.html" %}
        {% else %}
            <h3>Нет записей</h3>
        {% endif %}
    </div>
</div>
{% endblock %}
