{% extends "feed.html" %}
{% block title %}{{ profile.showName }} в Mindwell{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/assets/feed.css">
{% if profile.design.css %}
<style type="text/css">{{ profile.design.css }}</style>
{% else %}
<style type="text/css">.post { background: {{ profile.design.backgroundColor }}; color: {{ profile.design.textColor }}; text-align: {{ profile.design.textAlignment }}; }</style>
{% endif %}
{% endblock %}
{% block heading %}
    {% if profile.avatar %}<p><img src="{{ profile.avatar }}"></p>{% endif %}
    <h1>{{ profile.showName }}</h1>
    {% if profile.title %}<h2>{{ profile.title }}</h2>{% endif %}
    {% if profile.isOnline %}<p>Сейчас онлайн</p>{% endif %}
    <p>Карма: {{ profile.karma|default:0|floatformat:2 }}</p>
    <p>Зарегистрирован {{ profile.createdAt }}</p>
    <p>Последний раз был {{ profile.lastSeenAt }}</p>
    <p>Приглашен пользователем <a href="/users/{{ profile.invitedBy.name }}">{{ profile.invitedBy.showName }}</a></p>
    <p>{{ profile.country}}{% if profile.city %}, {{ profile.city }}{% endif %}</p>
    {% if profile.counts.entries %}<p>Записи: {{ profile.counts.entries }}</p>{% endif %}
    {% if profile.counts.comments %}<p>Комментарии: {{ profile.counts.comments }}</p>{% endif %}
    {% if profile.counts.favorites %}<p>В избранном: {{ profile.counts.favorites }}</p>{% endif %}
    {% if profile.counts.tags %}<p>Теги: {{ profile.counts.tags }}</p>{% endif %}
    {% if profile.counts.followers %}<p><a href="/users/{{ profile.name }}/followers"><p>Подписчики: {{ profile.counts.followers }}</a></p>{% endif %}
    {% if profile.counts.followings %}<p><a href="/users/{{ profile.name }}/followings">Подписки: {{ profile.counts.followings }}</a></p>{% endif %}
    {% if profile.counts.ignored %}<p>{% if me.id == profile.id %}<a href="/users/{{ profile.name }}/ignored">{% endif %}
        Заблокировно: {{ profile.counts.ignored }}{% if me.id == profile.id %}</a>{% endif %}</p>{% endif %}
    {% if profile.counts.invited %}<p><a href="/users/{{ profile.name }}/invited">Приглашено: {{ profile.counts.invited }}</a></p>{% endif %}
    {% if me.id == profile.id %}<a href="/me/edit">Редактировать</a> <a href="/design">Дизайн</a>{% endif %}
{% endblock %}
