<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Mindwell{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/feed.css">
        {% block styles %}{% endblock %}
        <script>
            function logout() {
                document.cookie = 'api_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;'
            }
        </script>
    </head>
    <body>
        <a href="/me">{{ me.showName }}</a>
        <a href="/live">Прямой эфир</a>
        <a href="/post">Новая запись</a>
        <a href="/static/login.html" onclick="logout()">Выйти</a>
        <h1>{% block heading %}{% endblock %}</h1>
        {% for entry in entries %}
            <h2>{{ entry.createdAt }}</h2>
            <div class="post">
                <h2>{{ entry.title }}</h2>
                {{ entry.content|safe }}
                <div class="footer">
                    {% if entry.isVotable %}
                        <span class="rating">&#10084; {{ entry.rating|default: 0 }} </span>
                    {% endif %}
                    {% if entry.commentCount %}
                        <span class="comments_count">{{ entry.commentCount }} комм.</span>
                    {% endif %}
                    <a href="/users/{{ entry.author.name }}" class="author">{{ entry.author.showName }}</a>
                </div>
            </div>
        {% empty %}
            <h3>Нет записей</h3>
        {% endfor %}
    </body>
</html>
