.post img {
    max-width: 100%;
}

.post p, .comments-list p {
    color: #515365;
}

.lcase {
    text-transform: lowercase;
}

body .header--standard {
    position: relative;
    width: 100%;
    left: 0px;
    padding: 0px;
}

.hcenter {
    margin: auto;
}

.main-header {
    max-width: 100%;
}

.post-add-icon svg {
    margin-left: 8px;
    height: 20px;
}

a.post-add-icon [data-prefix="fas"] {
    fill: #ff5e3a;
    color: #ff5e3a;
}

div.post-add-icon:hover {
    fill: #c2c5d9;
    color: #c2c5d9;
}

.post .post__date a {
    color: #888da8;
    font-weight: 400;
}

.post .post__date a:hover {
    color: #ff5e3a;
}
