.post img {
    max-width: 100%;
}

body {
    color: #252632;
}

body .header--standard {
    position: relative;
    width: 100%;
    left: 0px;
    padding: 0px;
}

.hcenter {
    margin: auto;
}

.main-header {
    max-width: 100%;
}

.post-add-icon svg {
    margin-left: 8px;
    height: 20px;
}

a.post-add-icon [data-prefix="fas"] {
    fill: #ff5e3a;
    color: #ff5e3a;
}

.post-rating {
    color: #c2c5d9;
}

div.post-add-icon:hover {
    fill: #c2c5d9;
    color: #c2c5d9;
}

.post .post__date a {
    color: #888da8;
    font-weight: 400;
}

.post .post__date a:hover {
    color: #ff5e3a;
}

.post-content, .comment-content {
    overflow-wrap: break-word;
    text-align: justify;
}

.post-content p {
    text-indent: 1em;
    margin: 1em 0;
}

.content-bg-wrap {
	background-size: auto 100%;
}

.header--standard > .container > .header--standard-wrap {
    height: 100%;
}

.country, .friend-about {
    color: #888da8;
}
