.post img {
    max-width: 100%;
}

.header--standard {
    padding: 0px;
}

.main-header {
    max-width: 100%;
}

.footer {
    color: #888da8;
    width: 100%;
    left: 0px;
}

.hcenter {
    margin: auto;
}

.post-add-icon svg {
    margin-left: 8px;
    height: 20px;
}

a.post-add-icon [data-prefix="fas"] {
    fill: #ff5e3a;
    color: #ff5e3a;
}

.post-rating {
    color: #c2c5d9;
}

div.post-add-icon:hover {
    fill: #c2c5d9;
    color: #c2c5d9;
}

.post .post__date svg {
    color: #888da8;
    margin: 0px 7px;
}

.post .post__date a {
    color: #888da8;
    font-weight: 400;
}

.post .post__date a:hover {
    color: #ff5e3a;
}

.post-content, .comment-content {
    overflow-wrap: break-word;
    text-align: justify;
}

.post-content p {
    text-indent: 1em;
    margin: 1em 0;
}

.post-content ul {
    list-style-type: disc;
    list-style-position: inside;
}

.post-content ul, .post-content ol {
    font-size: .875rem;    
}

.content-bg-wrap {
	background-size: auto 100%;
}

.country, .friend-about {
    color: #888da8;
}

.comment-additional-info {
    display: flex;
}

.comment-additional-info > *, .comment-additional-info .post-add-icon {
    margin-right: 15px;
}

#existing-comment-editor textarea {
    min-height: 264px;
}

li.cat-list__item > a {
    text-transform: none;
}

span.comment-rating {
    color: #9a9fbf;
}

span.h2.post-title {
    word-break: break-all;
    overflow: hidden;
}