.post-content img, .comment-content img, a.post-thumb img, div.post-thumb img {
    display: block;
    border-radius: 5px;
    max-height: 80vh;
    width: auto;
}

img.mfp-img {
    max-height: calc(100vh - 40px);
}

.post-thumb+.btn {
    margin-top: 25px;
}

.header-responsive {
    padding: 0px;
}

.main-header {
    max-width: 100%;
}

.color-logo {
    height: 34px;
    width: 34px;
}

.author-thumb .avatar {
    width: 36px;
    height: 36px;
}

.author-thumb .avatar-x34 {
    width: 34px;
    height: 34px;
}

.author-thumb .avatar-x42 {
    width: 42px;
    height: 42px;
}

.btn-control .triangle-top-right {
    top: calc(100% + 15px);
    bottom: auto;
}

.mCustomScrollbar > hr {
    border-color: #e6ecf5;
    border-style: solid;
    border-width: 1px;
}

.mobile-app-tabs {
    justify-content: space-evenly
}

.hcenter {
    margin: auto;
}

.hidden {
    display: none;
}

.control-icon .more-dropdown {
    padding: 0px;
    width: 400px;
}

.control-icon .mCustomScrollbar {
    max-height: 500px;
}

.control-icon .ps > .ps__scrollbar-y-rail, .control-icon .ps:hover > .ps__scrollbar-y-rail {
    top: 0px !important;
}

.notifications-placeholder {
    padding: 25px;
    text-align: center;
}

.notification-list a {
    padding: 0px;
}

.notification-event a {
    display: inline;
}

.notification-event img {
    max-height: 100px;
}

.notification-event {
    color: #252632;
    word-wrap: break-word; /* Internet Explorer */
    overflow-wrap: break-word;
}

.notification-list li {
    cursor: pointer;
}

.customize-feed {
    height: 12px;
    width: 12px;
    margin-top: 4px;
    fill: #888da8;
}

.cat-list__item:hover .customize-feed {
    fill: #fff;
}

.post-add-icon svg {
    margin-left: 8px;
    height: 20px;
}

a.post-add-icon [data-prefix="fas"] {
    fill: #ff5e3a;
    color: #ff5e3a;
}

.post-rating {
    color: #c2c5d9;
}

div.post-add-icon:hover {
    fill: #c2c5d9;
    color: #c2c5d9;
}

.post .post__date svg {
    color: #888da8;
    margin: 0px 7px;
}

.post .post__date, .post .post__date a {
    color: #888da8;
    font-weight: 400;
}

.post .post__date a:hover {
    color: #ff5e3a;
}

.post-additional-info > *:last-child {
    margin: unset;
}

.post-additional-info > .comment-button:last-of-type {
    margin-right: 0;
    margin-left: auto;
}

.post-title {
    word-wrap: break-word; /* Internet Explorer */
    overflow-wrap: break-word;
    display: inline-block;
    width: 100%;
}

.post-content, .comment-content{
    word-wrap: break-word; /* Internet Explorer */
    overflow-wrap: break-word;
    text-align: justify;
}

.cut-post .post-content, .cut-post .post-thumb {
    cursor: pointer;
}

.post-content a:hover {
    text-decoration-line: underline;
}

.post-content p {
    text-indent: 1em;
    margin: 1em 0;
}

.yt-video {
    max-width: 100%;
    display: block;
    margin: auto;
}

.post-content ul {
    list-style-type: disc;
    list-style-position: inside;
}

.post-content ul, .post-content ol {
    font-size: .875rem;    
}

.blog-post-popup .post .post-title {
    display: inline-block;
}

.blog-post-popup .post-title {
    position: relative;
    top: 0%;
    left: 0%;
    color: #515365;
    -webkit-transform: none;
    transform: none;
    text-align: left;
    z-index: 0;
}

.blog-post-popup .post p {
    padding: 0;
}

.dot-divider {
    padding-right: .3em;
    padding-left: .3em;
}

.dot-divider::after {
    content: '\00B7';
}

.content-bg-wrap {
	background-size: auto 100%;
}

.country, .friend-about {
    color: #888da8;
}

.comment-additional-info {
    display: flex;
}

.comment-additional-info > *, .comment-additional-info .post-add-icon {
    margin-right: 15px;
}

#existing-comment-editor textarea {
    min-height: 264px;
}

li.cat-list__item > a {
    text-transform: none;
}

.comment-rating {
    color: #9a9fbf;
}

.comments-list + .alert {
    margin: 25px;
}

.jumbotron {
    background-color: inherit;
}

.markdown-for-editor {
    text-align: center;
    font-size: 15px;
    padding-bottom: 1em;
}

.markdown-for-editor a {
    color: #9a9fbf;
}

.markdown-for-editor a:hover {
    color: #ff5e3a; 
}

#attached-images {
    display: block;
    width: 100%;
}

#attached-images img {
    margin: 11px;
    max-width: calc(100% / 5 - 25px);
    height: auto;
    display: inline-block;
}

.invite {
    padding: 1.1rem;
}

.ignored-user {
    border-top: 1px solid #e6ecf5;
}

.removed {
    opacity: 0.4;
}

.remove-user {
    float: right;
}

div.top-header-thumb::after {
    box-shadow: inset 0 -6vw 3vw -1.5vw rgba(0,0,0,0.5);
}

div.profile-section {
    padding: 30px 0;
}

.ps.ps--active-x > .ps__scrollbar-x-rail, .ps.ps--active-y > .ps__scrollbar-y-rail {
    top: 0px !important;
    left: 0px;
}

#chat-wrapper {
    position: relative;
    height: calc(100vh - 265px - 5rem);
}

#chat-wrapper>div {
    position: absolute;
    bottom: 0;
}

#chat-wrapper .mCustomScrollbar {
    max-height: calc(100vh - 265px - 5rem);
}

#message-form {
    overflow: hidden;
    padding: 25px;
}

#message-form textarea {
    min-height: 65px;
}

#message-form button {
    float: right;
    margin-bottom: 0;
    margin-right: 15px;
}
