.avatar { 
    padding: 10px; 
    width: 100px; 
    height: 100px; 
}

.user_block { 
    margin: 0 auto; 
    border-top: 1px solid #ededed; 
    padding: 10px 0px;
    clear: both; 
    font-size: large; 
    max-width: 600px; 
}
