{% extends "../base_auth.html" %}
{% block title %}Сообщения{% endblock %}
{% block scripts %}
    <script src="//youtube.com/iframe_api"></script>
    <script src="/assets/js/ifvisible.min.js"></script>
    <script src="/assets/chats.js?d=20200425"></script>
{% endblock %}
{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-xl-6 col-lg-8 col-md-12 col-sm-12 col-12 ">
            <div id="chat-block" class="ui-block">
                <div id="chat-title" class="ui-block-title chat-fixed">
                    <a href="/users/{{ partner.name }}">
                        <h6 class="title">{{ partner.showName }}</h6>
                    </a>
                </div>

                <div id="chat-wrapper" data-id="{{ id }}" data-name="{{ partner.name }}">
                    <ul class="comments-list">
                    </ul>
                </div>

                <div id="messages-placeholder">Здесь будет показана ваша переписка.</div>

                <form id="message-form" class="chat-fixed" action="/chats/{{ partner.name }}/messages" method="POST" enctype="multipart/form-data">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label">
                            {% if rights.send %}Написать сообщение…{% else %}Тебе нельзя отправлять сообщения в этот чат.{% endif %}
                        </label>
                        <textarea class="form-control" name="content" maxlength="1000" required{% if !rights.send %} disabled{% endif %}></textarea>
                    </div>
                    <input id="message-uid" type="hidden" name="uid">
                    <button id="send-message" class="btn btn-md-2 btn-primary"{% if !rights.send %} disabled{% endif %}>Отправить</button>
                    <button id="cancel-message" class="btn btn-md-2 btn-secondary hidden">Отмена</button>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}
