{% extends "../base_auth.html" %}
{% block title %}Сообщения{% endblock %}
{% block scripts %}
    <script src="/assets/js/ifvisible.min.js"></script>
    <script src="/assets/chats.js?d=20231106"></script>
{% endblock %}
{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-xl-6 col-lg-8 col-md-12 col-sm-12 col-12 ">
            <div id="chat-block" class="ui-block">
                <div id="chat-title" class="ui-block-title chat-fixed">
                    <a href="/users/{{ partner.name }}">
                        <h6 class="title">{{ partner.showName }}</h6>
                    </a>
                </div>

                <div id="chat-wrapper" data-id="{{ id }}" data-name="{{ partner.name }}">
                    <ul class="comments-list">
                        <div class="data-helper" data-unread-count="{{ messages.unreadCount|default:0 }}"
                             data-after="{{ messages.nextAfter }}" data-has-after="{{ messages.hasAfter }}"
                             data-before="{{ messages.nextBefore }}" data-has-before="{{ messages.hasBefore }}"></div>

                        {% for msg in messages.data %}
                            {% include "message.html" %}
                        {% endfor %}
                    </ul>
                </div>

                {% if !messages.data %}
                    <div id="messages-placeholder">Здесь будет показана ваша переписка.</div>
                {% endif %}

                <form id="message-form" class="chat-fixed" action="/chats/{{ partner.name }}/messages" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <textarea class="form-control" name="content" maxlength="1000" required
                                  placeholder="{% if rights.send %}Написать сообщение…{% else %}Тебе нельзя отправлять сообщения в этот чат.{% endif %}"
                                  {% if !rights.send %} disabled{% endif %}
                        ></textarea>
                    </div>
                    <input id="message-uid" type="hidden" name="uid">
                    <button id="send-message" class="btn btn-md-2 btn-primary"{% if !rights.send %} disabled{% endif %}>Отправить</button>
                    <button id="cancel-message" class="btn btn-md-2 btn-secondary hidden">Отмена</button>
                </form>

            </div>
        </div>
    </div>
</div>

{% include "../complain_popup.html" %}

{% endblock %}
