<li id="message{{ msg.id }}"  class="comment-item {% if !msg.read %}message-unread{% endif %}"
        data-id="{{ msg.id }}" data-author="{{ msg.author.name }}"
        {% if msg.rights.edit %} data-content="{{ msg.editContent }}" {% endif %}>
    <div class="post__author author vcard inline-items">
        <a class="h6 post__author-name fn" href="/users/{{ msg.author.name }}">
            <img src="{{ msg.author.avatar.x42 }}" alt="{{ msg.author.showName }}">
        </a>

        <div class="author-date">
            <a class="h6 post__author-name fn" href="/users/{{ msg.author.name }}">{{ msg.author.showName }}</a>
            <div class="post__date">
                <time class="published" datetime="{{ msg.createdAt }}"></time>
            </div>
        </div>

        {% if msg.rights.edit || msg.rights.delete %}
            <div class="more">
                <svg class="olymp-three-dots-icon"><use xlink:href="/assets/olympus/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                <ul class="more-dropdown">
                    {% if msg.rights.edit %}
                    <li>
                        <a href="#" class="edit-message">Редактировать</a>
                    </li>
                    {% endif %}
                    {% if msg.rights.delete %}
                    <li>
                        <a href="#" class="delete-message">Удалить</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}

    </div>

    {{ msg.content|media:"embed" }}

</li>
