{% extends "settings.html" %}
{% block title %}
    Клуб АДМ
{% endblock %}
{% block page %}
    <div class="ui-block-title">
        <h6 class="title">Клуб анонимных Дедов Морозов</h6>
    </div>

    <div class="ui-block-content">
        <form id="grandson" action="/adm/grandson" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <p>
                        Клуб анонимных Дедов Морозов — это предновогодняя игра, в которой можно подарить
                        немного радости незнакомому человеку. Игра проходит в два этапа.
                    </p>
                    <p>
                        На первом этапе все желающие участвовать в создании сказки должны заполнить форму ниже.
                        Вы оставляете свои имена и почтовые адреса, по которым позже будут отправлены подарки.
                    </p>
                    <p>
                        Затем в определенный день все адреса перемешиваются. Каждый участник становится анонимным 
                        Дедом Морозом, и ему назначается его внук — получатель подарка. Этому человеку нужно
                        отправить небольшой новогодний подарок. 
                    </p>
                    <p>
                        Каждый Дед Мороз одновременно является внуком для другого анонимного Деда Мороза. Таким
                        образом, каждый отправит один подарок и получит подарок сам. 
                    </p>
                    <p>
                        Деды Морозы являются анонимными, так как получатель подарка не должен знать, кто его отправил.
                        Но внук при желании может раскрыть свой ник для своего дедушки.
                    </p>
                    <p>
                        Если тебе нравится такая идея, заполни эту форму. Обязательно напиши свое полное
                        имя, фамилию и отчество (если есть), как в паспорте. Иначе тебе не отдадут подарок. Впиши свой
                        адрес и индекс, чтобы твой подарок мог тебя найти. 
                        <a href="https://www.pochta.ru/support/post-rules/write-address" target="_blank">Как правильно 
                        писать адрес</a>. Телефон писать необязательно, но он часто необходим, чтобы вызвать курьера.
                        В комментарии можно намекнуть на желаемые подарки, рассказать о своих увлечениях или просто
                        поздравить дедушку с наступающим Новым годом. Или можно оставить поле комментария пустым.
                    </p>
                    <p>
                        Твой тлог может помочь Деду Морозу в выборе хорошего подарка. Но ты вправе запретить ему видеть
                        твой ник, если боишься потерять анонимность. 
                    </p>
                    <p>
                        Пожалуйста, не надо принимать участие, если у тебя нет уверенности, что ты сможешь вовремя 
                        отправить подарок.
                    </p>
                    <p>
                        В игре уже участвует {{ stat.grandsons|default:0 }} человек{{ stat.grandsons|quantity:",а," }}.
                        {% if name %}И ты вместе с нами{% else %}Пока еще без тебя{% endif %}.
                    </p>

                    <div class="form-group label-floating">
                        <label class="control-label">Фамилия, имя, отчество</label>
                        <input class="form-control" type="text" name="name" value="{{ name }}" required>
                    </div>

                    <div class="form-group label-floating">
                        <label class="control-label">Страна</label>
                        <input class="form-control" type="text" name="country" value="{{ country }}" required>
                    </div>

                    <div class="form-group label-floating">
                        <label class="control-label">Почтовый индекс</label>
                        <input class="form-control" type="text" name="postcode" value="{{ postcode }}" required>
                    </div>

                    <div class="form-group label-floating">
                        <label class="control-label">Адрес</label>
                        <input class="form-control" type="text" name="address" value="{{ address }}" required>
                    </div>

                    <div class="form-group label-floating">
                        <label class="control-label">Мобильный телефон</label>
                        <input class="form-control" type="tel" name="phone" maxlength="50" value="{{ phone }}">
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" maxlength="1000"
                            name="comment" placeholder="Комментарий">{{ comment }}</textarea>
                    </div>
                    
                    <div class="switcher-block for-public-only">
                        <div class="h6 title">Скрыть мой ник</div>
                        <div class="togglebutton">
                            <label>
                                <input type="checkbox" name="anonymous" {% if anonymous %}checked{% endif %}>
                            </label>
                        </div>
                    </div>

                    <button id="save-grandson" class="btn btn-primary btn-lg full-width">
                        {% if address %}Сохранить{% else %}Участвовать{% endif %}</button>

                    <h6 id="grandson-status" role="alert"></h6>
                </div>
            </div>
        </form>
    </div>
{% endblock page %}
