{% extends "settings.html" %}
{% block title %}Скрытые тлоги{% endblock %}
{% block page %}
    <div class="ui-block-title">
        <h6 class="title">Скрытые тлоги</h6>
    </div>

    <div class="ui-block-content">
        <p>
            Посты из&nbsp;скрытых тлогов не&nbsp; показываются 
            у&nbsp;тебя в&nbsp;Прямом эфире и в&nbsp;Лучшем. 
            На&nbsp;их авторов это не&nbsp;накладывает никаких 
            ограничений. 
        </p>
        {% if !users %}
            <h6 class="title">Ты пока не скрыл{{ me.gender|gender }} ни один тлог.</h6>
        {% endif %}
    </div>
    {% for user in users %}
        {% include "ignored_user.html" with __buttonTitle="Вернуть" %}
    {% endfor %}
{% endblock page %}
