{% extends "settings.html" %}
{% block title %}Заблокированные тлоги{% endblock %}
{% block page %}
    <div class="ui-block-title">
        <h6 class="title">Заблокированные тлоги</h6>
    </div>

    <div class="ui-block-content">
        <p>
            Для заблокированных тобой пользователей твой профиль
            закрыт. Ты также не&nbsp;будешь видеть их посты нигде, 
            кроме их тлогов.
        </p>
        {% if !users %}
            <h6 class="title">Ты пока никого не заблокировал{{ me.gender|gender }}. Отлично!</h6>
        {% endif %}
    </div>   
    {% for user in users %}
        {% include "ignored_user.html" with __buttonTitle="Разблокировать" %}
    {% endfor %} 
{% endblock page %}
