{% extends "settings.html" %}
{% block title %}Приглашения{% endblock %}
{% block page %}
    <div class="ui-block-title">
        <h6 class="title">Приглашения</h6>
    </div>

    <div class="ui-block-content">
        <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <p>
                    Чтобы зарегистрироваться на Mindwell, нужно получить приглашение. 
                    У нас оно состоит из трех английских слов через пробел. 
                    Скопируй одну из своих содержащих приглашения ссылок и отправь другу.
                </p>
                {% if me.ban.invite %}
                    <h6 class="title">
                        Ты или один из приглашенных тобой пользователей нарушил правила сайта.
                        Ты не можешь приглашать новых людей до <time class="text-lowercase" datetime="{{ me.ban.invite }}"></time>.
                    </h6>
                {% else %}
                    {% for invite in invites %}
                        <p><a class="invite" data-invite="{{ invite }}" target="__blank">{{ invite }}</a></p>
                    {% empty %}
                        <h6 class="title">У тебя пока нет свободных приглашений.</h6>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>    
{% endblock page %}
