{% extends "settings.html" %}
{% block title %}
    Настройка уведомлений
{% endblock %}
{% block page %}
    <div class="ui-block-title">
        <h6 class="title">Настройка уведомлений</h6>
    </div>

    <div class="ui-block-content">
        <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <table id="notification-settings">
                    <tr>
                        <th>Присылать мне уведомления, когда…</th><th>На почту</th><th>В Телеграм</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="h6 title">кто-то комментирует запись, за которой я слежу</div>
                        </td>
                        <td>
                            <div class="togglebutton">
                                <label>
                                    <input type="checkbox" name="comments" class="email" {% if email.comments %}checked{% endif %}>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="togglebutton">
                                <label>
                                    <input type="checkbox" name="comments" class="telegram" {% if telegram.comments %}checked{% endif %}>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="h6 title">кто-то подписывается на мой тлог</div>
                        </td>
                        <td>
                            <div class="togglebutton">
                                <label>
                                    <input type="checkbox" name="followers" class="email" {% if email.followers %}checked{% endif %}>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="togglebutton">
                                <label>
                                    <input type="checkbox" name="followers" class="telegram" {% if telegram.followers %}checked{% endif %}>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="h6 title">кто-то присылает мне личное сообщение</div>
                        </td>
                        <td>
                        </td>
                        <td>
                            <div class="togglebutton">
                                <label>
                                    <input type="checkbox" name="messages" class="telegram" {% if telegram.messages %}checked{% endif %}>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="h6 title">мне выдается новое приглашение</div>
                        </td>
                        <td>
                            <div class="togglebutton">
                                <label>
                                    <input type="checkbox" name="invites" class="email" {% if email.invites %}checked{% endif %}>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="togglebutton">
                                <label>
                                    <input type="checkbox" name="invites" class="telegram" {% if telegram.invites %}checked{% endif %}>
                                </label>
                            </div>
                        </td>
                    </tr>
                </table>

                <button id="save-notification-settings" class="btn btn-primary btn-lg full-width">Сохранить</button>

                <h6 id="notification-settings-status" role="alert"></h6>
            </div>
        </div>
    </div>


    <div class="ui-block-content">
        <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h6 class="title">Телеграм-бот</h6>
                <p>
                    Чтобы получать уведомления в Телеграме, открой ссылку
                    <a href="https://t.me/{{ __tg }}?start={{ bot.token }}" target="__blank">
                        t.me/{{ __tg }}?start={{ bot.token }}
                    </a> или добавь себе в контакты бота @{{ __tg }} и отправь ему команду 
                    <code>/login?{{ bot.token }}</code>.
                </p>
                <p>
                    Ссылка и команда содержат автоматически сгенерированный пароль. Любой, кто отправит
                    его боту, получит доступ к твоим уведомлениям. Пароль будет действителен в течение
                    десяти минут.                
                </p>
            </div>
        </div>
    </div>

{% endblock page %}
